In [65]:
import pandas as pd
import encodings

# How to handle csv format

# Parse Eror

In [4]:
df=pd.read_csv(r'C:\Users\masir\Downloads\Machine Learning\parse_Error.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 4, saw 4

In [5]:
df=pd.read_csv(r'C:\Users\masir\Downloads\Machine Learning\parse_Error.csv',on_bad_lines='skip')

In [6]:
df

         name  age city
0  vamshidhar   22  Hyd
1    Santhosh   22  Hyd

In [7]:
df=pd.read_csv(r'C:\Users\masir\Downloads\Machine Learning\parse_Error.csv',on_bad_lines='warn')

C:\Users\masir\AppData\Local\Temp\ipykernel_3060\1730094977.py:1: ParserWarning: Skipping line 4: expected 3 fields, saw 4

  df=pd.read_csv(r'C:\Users\masir\Downloads\Machine Learning\parse_Error.csv',on_bad_lines='warn')

In [8]:
df

         name  age city
0  vamshidhar   22  Hyd
1    Santhosh   22  Hyd

In [9]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\parse.xlsx")

In [10]:
df

       name  Age City Unnamed: 3
0    vamshi   22  Hyd        NaN
1  santhosh   22  Hyd        NaN
2    pranay   21  Hyd  Prolifics

# Encoding Error

In [61]:
pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Encoding_error\die_ISO-8859-1.txt")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 36: invalid start byte

In [62]:
encodings_list = [
    "utf-8",
    "utf-8-sig",
    "ISO-8859-1",
    "latin1",
    "cp1252",
    "utf-16"
]

In [63]:
for i in encodings:
    try:
        df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Encoding_error\die_ISO-8859-1.txt",encoding=i,on_bad_lines='skip')
    except UnicodeDecodeError:
        continue

In [64]:
df

             The Project Gutenberg EBook of Die Fürstin  by Kasimir Edschmid
0     This eBook is for the use of anyone anywhere a...                  NaN
1     almost no restrictions whatsoever.  You may co...      give it away or
2     re-use it under the terms of the Project Guten...                  NaN
3        with this eBook or online at www.gutenberg.net                  NaN
4                                    Title: Die Fürstin                  NaN
...                                                 ...                  ...
1064  Most people start at our Web site which has th...                  NaN
1065                           http://www.gutenberg.net                  NaN
1066  This Web site includes information about Proje...                  NaN
1067  including how to make donations to the Project...                  NaN
1068  subscribe to our email newsletter to hear abou...                  NaN

[1069 rows x 2 columns]

In [66]:
print(f'length: {len(encodings.aliases.aliases)}') #dictionary of encodings 
print(encodings.aliases.aliases)

length: 326
{'646': 'ascii', 'ansi_x3.4_1968': 'ascii', 'ansi_x3_4_1968': 'ascii', 'ansi_x3.4_1986': 'ascii', 'cp367': 'ascii', 'csascii': 'ascii', 'ibm367': 'ascii', 'iso646_us': 'ascii', 'iso_646.irv_1991': 'ascii', 'iso_ir_6': 'ascii', 'us': 'ascii', 'us_ascii': 'ascii', 'base64': 'base64_codec', 'base_64': 'base64_codec', 'big5_tw': 'big5', 'csbig5': 'big5', 'big5_hkscs': 'big5hkscs', 'hkscs': 'big5hkscs', 'bz2': 'bz2_codec', '037': 'cp037', 'csibm037': 'cp037', 'ebcdic_cp_ca': 'cp037', 'ebcdic_cp_nl': 'cp037', 'ebcdic_cp_us': 'cp037', 'ebcdic_cp_wt': 'cp037', 'ibm037': 'cp037', 'ibm039': 'cp037', '1026': 'cp1026', 'csibm1026': 'cp1026', 'ibm1026': 'cp1026', '1125': 'cp1125', 'ibm1125': 'cp1125', 'cp866u': 'cp1125', 'ruscii': 'cp1125', '1140': 'cp1140', 'ibm1140': 'cp1140', '1250': 'cp1250', 'windows_1250': 'cp1250', '1251': 'cp1251', 'windows_1251': 'cp1251', '1252': 'cp1252', 'windows_1252': 'cp1252', '1253': 'cp1253', 'windows_1253': 'cp1253', '1254': 'cp1254', 'windows_1254': 'cp1254', '1255': 'cp1255', 'windows_1255': 'cp1255', '1256': 'cp1256', 'windows_1256': 'cp1256', '1257': 'cp1257', 'windows_1257': 'cp1257', '1258': 'cp1258', 'windows_1258': 'cp1258', '273': 'cp273', 'ibm273': 'cp273', 'csibm273': 'cp273', '424': 'cp424', 'csibm424': 'cp424', 'ebcdic_cp_he': 'cp424', 'ibm424': 'cp424', '437': 'cp437', 'cspc8codepage437': 'cp437', 'ibm437': 'cp437', '500': 'cp500', 'csibm500': 'cp500', 'ebcdic_cp_be': 'cp500', 'ebcdic_cp_ch': 'cp500', 'ibm500': 'cp500', '775': 'cp775', 'cspc775baltic': 'cp775', 'ibm775': 'cp775', '850': 'cp850', 'cspc850multilingual': 'cp850', 'ibm850': 'cp850', '852': 'cp852', 'cspcp852': 'cp852', 'ibm852': 'cp852', '855': 'cp855', 'csibm855': 'cp855', 'ibm855': 'cp855', '857': 'cp857', 'csibm857': 'cp857', 'ibm857': 'cp857', '858': 'cp858', 'csibm858': 'cp858', 'ibm858': 'cp858', '860': 'cp860', 'csibm860': 'cp860', 'ibm860': 'cp860', '861': 'cp861', 'cp_is': 'cp861', 'csibm861': 'cp861', 'ibm861': 'cp861', '862': 'cp862', 'cspc862latinhebrew': 'cp862', 'ibm862': 'cp862', '863': 'cp863', 'csibm863': 'cp863', 'ibm863': 'cp863', '864': 'cp864', 'csibm864': 'cp864', 'ibm864': 'cp864', '865': 'cp865', 'csibm865': 'cp865', 'ibm865': 'cp865', '866': 'cp866', 'csibm866': 'cp866', 'ibm866': 'cp866', '869': 'cp869', 'cp_gr': 'cp869', 'csibm869': 'cp869', 'ibm869': 'cp869', '932': 'cp932', 'ms932': 'cp932', 'mskanji': 'cp932', 'ms_kanji': 'cp932', '949': 'cp949', 'ms949': 'cp949', 'uhc': 'cp949', '950': 'cp950', 'ms950': 'cp950', 'jisx0213': 'euc_jis_2004', 'eucjis2004': 'euc_jis_2004', 'euc_jis2004': 'euc_jis_2004', 'eucjisx0213': 'euc_jisx0213', 'eucjp': 'euc_jp', 'ujis': 'euc_jp', 'u_jis': 'euc_jp', 'euckr': 'euc_kr', 'korean': 'euc_kr', 'ksc5601': 'euc_kr', 'ks_c_5601': 'euc_kr', 'ks_c_5601_1987': 'euc_kr', 'ksx1001': 'euc_kr', 'ks_x_1001': 'euc_kr', 'gb18030_2000': 'gb18030', 'chinese': 'gb2312', 'csiso58gb231280': 'gb2312', 'euc_cn': 'gb2312', 'euccn': 'gb2312', 'eucgb2312_cn': 'gb2312', 'gb2312_1980': 'gb2312', 'gb2312_80': 'gb2312', 'iso_ir_58': 'gb2312', '936': 'gbk', 'cp936': 'gbk', 'ms936': 'gbk', 'hex': 'hex_codec', 'roman8': 'hp_roman8', 'r8': 'hp_roman8', 'csHPRoman8': 'hp_roman8', 'cp1051': 'hp_roman8', 'ibm1051': 'hp_roman8', 'hzgb': 'hz', 'hz_gb': 'hz', 'hz_gb_2312': 'hz', 'csiso2022jp': 'iso2022_jp', 'iso2022jp': 'iso2022_jp', 'iso_2022_jp': 'iso2022_jp', 'iso2022jp_1': 'iso2022_jp_1', 'iso_2022_jp_1': 'iso2022_jp_1', 'iso2022jp_2': 'iso2022_jp_2', 'iso_2022_jp_2': 'iso2022_jp_2', 'iso_2022_jp_2004': 'iso2022_jp_2004', 'iso2022jp_2004': 'iso2022_jp_2004', 'iso2022jp_3': 'iso2022_jp_3', 'iso_2022_jp_3': 'iso2022_jp_3', 'iso2022jp_ext': 'iso2022_jp_ext', 'iso_2022_jp_ext': 'iso2022_jp_ext', 'csiso2022kr': 'iso2022_kr', 'iso2022kr': 'iso2022_kr', 'iso_2022_kr': 'iso2022_kr', 'csisolatin6': 'iso8859_10', 'iso_8859_10': 'iso8859_10', 'iso_8859_10_1992': 'iso8859_10', 'iso_ir_157': 'iso8859_10', 'l6': 'iso8859_10', 'latin6': 'iso8859_10', 'thai': 'iso8859_11', 'iso_8859_11': 'iso8859_11', 'iso_8859_11_2001': 'iso8859_11', 'iso_8859_13': 'iso8859_13', 'l7': 'iso8859_13', 'latin7': 'iso8859_13', 'iso_8859_14': 'iso8859_14', 'iso_8859_14_1998': 'iso8859_14', 'iso_celtic': 'iso8859_14', 'iso_ir_199': 'iso8859_14', 'l8': 'iso8859_14', 'latin8': 'iso8859_14', 'iso_8859_15': 'iso8859_15', 'l9': 'iso8859_15', 'latin9': 'iso8859_15', 'iso_8859_16': 'iso8859_16', 'iso_8859_16_2001': 'iso8859_16', 'iso_ir_226': 'iso8859_16', 'l10': 'iso8859_16', 'latin10': 'iso8859_16', 'csisolatin2': 'iso8859_2', 'iso_8859_2': 'iso8859_2', 'iso_8859_2_1987': 'iso8859_2', 'iso_ir_101': 'iso8859_2', 'l2': 'iso8859_2', 'latin2': 'iso8859_2', 'csisolatin3': 'iso8859_3', 'iso_8859_3': 'iso8859_3', 'iso_8859_3_1988': 'iso8859_3', 'iso_ir_109': 'iso8859_3', 'l3': 'iso8859_3', 'latin3': 'iso8859_3', 'csisolatin4': 'iso8859_4', 'iso_8859_4': 'iso8859_4', 'iso_8859_4_1988': 'iso8859_4', 'iso_ir_110': 'iso8859_4', 'l4': 'iso8859_4', 'latin4': 'iso8859_4', 'csisolatincyrillic': 'iso8859_5', 'cyrillic': 'iso8859_5', 'iso_8859_5': 'iso8859_5', 'iso_8859_5_1988': 'iso8859_5', 'iso_ir_144': 'iso8859_5', 'arabic': 'iso8859_6', 'asmo_708': 'iso8859_6', 'csisolatinarabic': 'iso8859_6', 'ecma_114': 'iso8859_6', 'iso_8859_6': 'iso8859_6', 'iso_8859_6_1987': 'iso8859_6', 'iso_ir_127': 'iso8859_6', 'csisolatingreek': 'iso8859_7', 'ecma_118': 'iso8859_7', 'elot_928': 'iso8859_7', 'greek': 'iso8859_7', 'greek8': 'iso8859_7', 'iso_8859_7': 'iso8859_7', 'iso_8859_7_1987': 'iso8859_7', 'iso_ir_126': 'iso8859_7', 'csisolatinhebrew': 'iso8859_8', 'hebrew': 'iso8859_8', 'iso_8859_8': 'iso8859_8', 'iso_8859_8_1988': 'iso8859_8', 'iso_ir_138': 'iso8859_8', 'csisolatin5': 'iso8859_9', 'iso_8859_9': 'iso8859_9', 'iso_8859_9_1989': 'iso8859_9', 'iso_ir_148': 'iso8859_9', 'l5': 'iso8859_9', 'latin5': 'iso8859_9', 'cp1361': 'johab', 'ms1361': 'johab', 'cskoi8r': 'koi8_r', 'kz_1048': 'kz1048', 'rk1048': 'kz1048', 'strk1048_2002': 'kz1048', '8859': 'latin_1', 'cp819': 'latin_1', 'csisolatin1': 'latin_1', 'ibm819': 'latin_1', 'iso8859': 'latin_1', 'iso8859_1': 'latin_1', 'iso_8859_1': 'latin_1', 'iso_8859_1_1987': 'latin_1', 'iso_ir_100': 'latin_1', 'l1': 'latin_1', 'latin': 'latin_1', 'latin1': 'latin_1', 'maccyrillic': 'mac_cyrillic', 'macgreek': 'mac_greek', 'maciceland': 'mac_iceland', 'maccentraleurope': 'mac_latin2', 'mac_centeuro': 'mac_latin2', 'maclatin2': 'mac_latin2', 'macintosh': 'mac_roman', 'macroman': 'mac_roman', 'macturkish': 'mac_turkish', 'ansi': 'mbcs', 'dbcs': 'mbcs', 'csptcp154': 'ptcp154', 'pt154': 'ptcp154', 'cp154': 'ptcp154', 'cyrillic_asian': 'ptcp154', 'quopri': 'quopri_codec', 'quoted_printable': 'quopri_codec', 'quotedprintable': 'quopri_codec', 'rot13': 'rot_13', 'csshiftjis': 'shift_jis', 'shiftjis': 'shift_jis', 'sjis': 'shift_jis', 's_jis': 'shift_jis', 'shiftjis2004': 'shift_jis_2004', 'sjis_2004': 'shift_jis_2004', 's_jis_2004': 'shift_jis_2004', 'shiftjisx0213': 'shift_jisx0213', 'sjisx0213': 'shift_jisx0213', 's_jisx0213': 'shift_jisx0213', 'tis620': 'tis_620', 'tis_620_0': 'tis_620', 'tis_620_2529_0': 'tis_620', 'tis_620_2529_1': 'tis_620', 'iso_ir_166': 'tis_620', 'u16': 'utf_16', 'utf16': 'utf_16', 'unicodebigunmarked': 'utf_16_be', 'utf_16be': 'utf_16_be', 'unicodelittleunmarked': 'utf_16_le', 'utf_16le': 'utf_16_le', 'u32': 'utf_32', 'utf32': 'utf_32', 'utf_32be': 'utf_32_be', 'utf_32le': 'utf_32_le', 'u7': 'utf_7', 'utf7': 'utf_7', 'unicode_1_1_utf_7': 'utf_7', 'u8': 'utf_8', 'utf': 'utf_8', 'utf8': 'utf_8', 'utf8_ucs2': 'utf_8', 'utf8_ucs4': 'utf_8', 'cp65001': 'utf_8', 'uu': 'uu_codec', 'zip': 'zlib_codec', 'zlib': 'zlib_codec', 'x_mac_japanese': 'shift_jis', 'x_mac_korean': 'euc_kr', 'x_mac_simp_chinese': 'gb2312', 'x_mac_trad_chinese': 'big5'}

In [67]:
encodings_list=encodings.aliases.aliases.keys()
# keys are acting as encodings

In [74]:
suitable_encodings = []
not_suitable_encodings = []
unsupported = []

for i in encodings_list:
    try:
        df = pd.read_csv(
            r"C:\Users\masir\Downloads\Machine Learning\Encoding_error\file_guide.csv",
            encoding=i,
            on_bad_lines='skip'
        )
        suitable_encodings.append(i)

    except UnicodeError:
        # All decoding/translation failures
        not_suitable_encodings.append(i)

    except LookupError:
        # Encoding name not recognized
        unsupported.append(i)

In [105]:
print(len(suitable_encodings),len(not_suitable_encodings),len(unsupported))
unsupported

248 66 12

['base64',
 'base_64',
 'bz2',
 'hex',
 'csHPRoman8',
 'quopri',
 'quoted_printable',
 'quotedprintable',
 'rot13',
 'uu',
 'zip',
 'zlib']

In [76]:
df.head()

,File,Text,Author,Encoding,Language,Words
0,die_ISO-8859-1.txt,Die F羹rstin,Kasimir Edschmid,ISO-8859-1,German,13314
1,harpers_ASCII.txt,"Harper's Round Table, October 8, 1895",Various,ASCII,English,29094
2,olaf_Windows-1251.txt,Olaf van Geldern,Pencho Slaveykov,Windows 1251,Bulgarian,2790
3,portugal_ISO-8859-1.txt,"Portugal enfermo por vicios, e abusos de ambos...",Jos矇 Daniel Rodrigues da Costa,ISO-8859-1,Portuguese,14215
4,shisei_UTF-8.txt,Shisei,Junichiro Tanizaki,UTF-8,Japanese,4809

# Out of Memory

In [95]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Datasets\WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [96]:
df.shape

(1470, 35)

In [97]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [98]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Datasets\WA_Fn-UseC_-HR-Employee-Attrition.csv",chunksize=100)

In [99]:
df

In [100]:
c=0
for chunk in df:
    print('*'*100)
    print(chunk.shape)
    print(chunk.head(2))
    print('*'*100)
    c+=1

****************************************************************************************************
(100, 35)
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate              Department  \
100   37       Yes  Travel_Rarely        807         Human Resources
101   32        No  Travel_Rarely        827  Research & Development

     DistanceFromHome  Education   EducationField  EmployeeCount  \
100                 6          4  Human Resources              1
101                 1          1    Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
100             133  ...                         4            80
101             134  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
100                 0                  7                      3
101                 0                  1                      2

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
100               3               3                  2
101               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
100                        0                     2
101                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
200   27        No  Travel_Frequently        472  Research & Development
201   49        No         Non-Travel       1002  Research & Development

     DistanceFromHome  Education    EducationField  EmployeeCount  \
200                 1          1  Technical Degree              1
201                18          4     Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
200             274  ...                         3            80
201             275  ...                         1            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
200                 1                  6                      1
201                 2                  7                      0

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
200               3               2                  2
201               3               7                  7

     YearsSinceLastPromotion  YearsWithCurrManager
200                        2                     0
201                        1                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate Department  DistanceFromHome  \
300   41        No  Travel_Rarely        334      Sales                 2
301   18        No  Travel_Rarely        812      Sales                10

     Education EducationField  EmployeeCount  EmployeeNumber  ...  \
300          4  Life Sciences              1             410  ...
301          3        Medical              1             411  ...

     RelationshipSatisfaction StandardHours  StockOptionLevel  \
300                         2            80                 0
301                         1            80                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
300                 22                      2               3              22
301                  0                      2               3               0

    YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
300                 10                        0                     4
301                  0                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
400   39        No  Travel_Frequently       1218  Research & Development
401   56        No  Travel_Frequently        906                   Sales

     DistanceFromHome  Education EducationField  EmployeeCount  \
400                 1          1  Life Sciences              1
401                 6          3  Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
400             531  ...                         3            80
401             532  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
400                 1                 21                      3
401                 3                 36                      0

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
400               3              21                  8
401               2               7                  7

     YearsSinceLastPromotion  YearsWithCurrManager
400                        1                     6
401                        7                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
500   32        No      Travel_Rarely        646  Research & Development
501   30        No  Travel_Frequently        160  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
500                 9          4  Life Sciences              1
501                 3          3        Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
500             679  ...                         4            80
501             680  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
500                 1                  6                      2
501                 1                  1                      2

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
500               2               6                  4
501               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
500                        0                     5
501                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
600   32        No      Travel_Rarely        859  Research & Development
601   40        No  Travel_Frequently        720  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
600                 4          3  Life Sciences              1
601                16          4        Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
600             830  ...                         3            80
601             832  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
600                 1                 14                      3
601                 0                 10                      6

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
600               3              14                 13
601               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
600                        6                     8
601                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate              Department  \
700   58       Yes  Travel_Rarely        289  Research & Development
701   53        No  Travel_Rarely       1376                   Sales

     DistanceFromHome  Education    EducationField  EmployeeCount  \
700                 2          3  Technical Degree              1
701                 2          2           Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
700             977  ...                         1            80
701             981  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
700                 0                  7                      4
701                 1                 22                      3

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
700               3               1                  0
701               4              17                 13

     YearsSinceLastPromotion  YearsWithCurrManager
700                        0                     0
701                       15                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
800   28       Yes  Travel_Frequently       1009  Research & Development
801   50       Yes  Travel_Frequently        959                   Sales

     DistanceFromHome  Education EducationField  EmployeeCount  \
800                 1          3        Medical              1
801                 1          4          Other              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
800            1111  ...                         1            80
801            1113  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
800                 2                  1                      2
801                 0                  5                      4

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
800               3               1                  0
801               3               0                  0

     YearsSinceLastPromotion  YearsWithCurrManager
800                        0                     0
801                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
900   36        No  Travel_Frequently        469  Research & Development
901   48        No      Travel_Rarely        969  Research & Development

     DistanceFromHome  Education    EducationField  EmployeeCount  \
900                 3          3  Technical Degree              1
901                 2          2  Technical Degree              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
900            1257  ...                         3            80
901            1258  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
900                 0                 12                      2
901                 0                  7                      4

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
900               2              11                 10
901               2               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
900                        0                     7
901                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1000   52        No  Travel_Rarely        258  Research & Development
1001   37        No  Travel_Rarely       1462  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1000                 8          4          Other              1
1001                11          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1000            1409  ...                         3            80
1001            1411  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1000                 0                 12                      2
1001                 0                  8                      6

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1000               1               5                  4
1001               3               3                  2

      YearsSinceLastPromotion  YearsWithCurrManager
1000                        0                     4
1001                        0                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1100   35        No  Travel_Rarely       1402                   Sales
1101   32        No  Travel_Rarely        824  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1100                28          4  Life Sciences              1
1101                 5          2  Life Sciences              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1100            1554  ...                         1            80
1101            1555  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1100                 2                  6                      5
1101                 1                 12                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1100               3               5                  3
1101               3               7                  1

      YearsSinceLastPromotion  YearsWithCurrManager
1100                        4                     2
1101                        2                     5

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1200   44        No  Travel_Rarely        528         Human Resources
1201   23       Yes  Travel_Rarely       1320  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1200                 1          3  Life Sciences              1
1201                 8          1        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1200            1683  ...                         1            80
1201            1684  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1200                 3                  8                      2
1201                 0                  5                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1200               3               2                  2
1201               3               5                  4

      YearsSinceLastPromotion  YearsWithCurrManager
1200                        2                     2
1201                        1                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate Department  DistanceFromHome  \
1300   34        No  Travel_Rarely        810      Sales                 8
1301   58        No     Non-Travel        350      Sales                 2

      Education    EducationField  EmployeeCount  EmployeeNumber  ...  \
1300          2  Technical Degree              1            1823  ...
1301          3           Medical              1            1824  ...

      RelationshipSatisfaction StandardHours  StockOptionLevel  \
1300                         3            80                 2
1301                         4            80                 1

      TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
1300                 10                      5               3
1301                 37                      0               2

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
1300              10                  8                        4
1301              16                  9                       14

      YearsWithCurrManager
1300                     8
1301                    14

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(70, 35)
      Age Attrition     BusinessTravel  DailyRate       Department  \
1400   38        No  Travel_Frequently       1444  Human Resources
1401   55        No      Travel_Rarely        189  Human Resources

      DistanceFromHome  Education   EducationField  EmployeeCount  \
1400                 1          4            Other              1
1401                26          4  Human Resources              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1400            1972  ...                         2            80
1401            1973  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1400                 1                  7                      2
1401                 1                 35                      0


In [101]:
c

15

# Time Taken to load the Huge amount of data

In [102]:
import time
x=time.time()
df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\CSV_format\survey_results_public.csv\survey_results_public.csv")
y=time.time()
y-x

C:\Users\masir\AppData\Local\Temp\ipykernel_3060\148960838.py:3: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\CSV_format\survey_results_public.csv\survey_results_public.csv")

4.75276517868042

In [104]:
import polars
x=time.time()
df=polars.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\CSV_format\survey_results_public.csv\survey_results_public.csv")
y=time.time()
y-x

0.777557373046875

In [107]:
df.head()

shape: (5, 129)
┌────────────┬───────┬────────────┬────────────────┬───┬────────────┬────────────┬─────────────────────┬───────────────┐
│ Respondent ┆ Hobby ┆ OpenSource ┆ Country        ┆ … ┆ Dependents ┆ MilitaryUS ┆ SurveyTooLong       ┆ SurveyEasy    │
│ ---        ┆ ---   ┆ ---        ┆ ---            ┆   ┆ ---        ┆ ---        ┆ ---                 ┆ ---           │
│ i64        ┆ str   ┆ str        ┆ str            ┆   ┆ str        ┆ str        ┆ str                 ┆ str           │
╞════════════╪═══════╪════════════╪════════════════╪═══╪════════════╪════════════╪═════════════════════╪═══════════════╡
│ 1          ┆ Yes   ┆ No         ┆ Kenya          ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Very easy     │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 3          ┆ Yes   ┆ Yes        ┆ United Kingdom ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 4          ┆ Yes   ┆ Yes        ┆ United States  ┆ … ┆ NA         ┆ NA         ┆ NA                  ┆ NA            │
│ 5          ┆ No    ┆ No         ┆ United States  ┆ … ┆ No         ┆ No         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 7          ┆ Yes   ┆ No         ┆ South Africa   ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
└────────────┴───────┴────────────┴────────────────┴───┴────────────┴────────────┴─────────────────────┴───────────────┘