In [1]:
import pandas as pd
import encodings

# How to handle csv format

# Parse Eror

In [2]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\parse_Error.csv")

ParserError: Error tokenizing data. C error: Expected 3 fields in line 4, saw 4

In [7]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\parse_Error.csv",on_bad_lines='skip')

In [8]:
df

         name  age city
0  vamshidhar   22  Hyd
1    Santhosh   22  Hyd

In [10]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\parse_Error.csv",on_bad_lines='warn')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\847243761.py:1: ParserWarning: Skipping line 4: expected 3 fields, saw 4

  df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\parse_Error.csv",on_bad_lines='warn')

In [11]:
df

         name  age city
0  vamshidhar   22  Hyd
1    Santhosh   22  Hyd

In [12]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\parse.xlsx")

In [13]:
df

       name  Age City Unnamed: 3
0    vamshi   22  Hyd        NaN
1  santhosh   22  Hyd        NaN
2    pranay   21  Hyd  Prolifics

# Encoding Error

In [16]:
pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Encoding_error\die_ISO-8859-1.txt")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 36: invalid start byte

In [24]:
encodings_list = [
    "utf-8",
    "utf-8-sig",
    "ISO-8859-1",
    "latin1",
    "cp1252",
    "utf-16"
]

In [25]:
for i in encodings_list:
    try:
        df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Encoding_error\die_ISO-8859-1.txt",encoding=i,on_bad_lines='skip')
    except UnicodeDecodeError:
        continue

In [26]:
df

             The Project Gutenberg EBook of Die Fürstin  by Kasimir Edschmid
0     This eBook is for the use of anyone anywhere a...                  NaN
1     almost no restrictions whatsoever.  You may co...      give it away or
2     re-use it under the terms of the Project Guten...                  NaN
3        with this eBook or online at www.gutenberg.net                  NaN
4                                    Title: Die Fürstin                  NaN
...                                                 ...                  ...
1064  Most people start at our Web site which has th...                  NaN
1065                           http://www.gutenberg.net                  NaN
1066  This Web site includes information about Proje...                  NaN
1067  including how to make donations to the Project...                  NaN
1068  subscribe to our email newsletter to hear abou...                  NaN

[1069 rows x 2 columns]

In [27]:
print(f'length: {len(encodings.aliases.aliases)}') #dictionary of encodings 
print(encodings.aliases.aliases)

length: 326
{'646': 'ascii', 'ansi_x3.4_1968': 'ascii', 'ansi_x3_4_1968': 'ascii', 'ansi_x3.4_1986': 'ascii', 'cp367': 'ascii', 'csascii': 'ascii', 'ibm367': 'ascii', 'iso646_us': 'ascii', 'iso_646.irv_1991': 'ascii', 'iso_ir_6': 'ascii', 'us': 'ascii', 'us_ascii': 'ascii', 'base64': 'base64_codec', 'base_64': 'base64_codec', 'big5_tw': 'big5', 'csbig5': 'big5', 'big5_hkscs': 'big5hkscs', 'hkscs': 'big5hkscs', 'bz2': 'bz2_codec', '037': 'cp037', 'csibm037': 'cp037', 'ebcdic_cp_ca': 'cp037', 'ebcdic_cp_nl': 'cp037', 'ebcdic_cp_us': 'cp037', 'ebcdic_cp_wt': 'cp037', 'ibm037': 'cp037', 'ibm039': 'cp037', '1026': 'cp1026', 'csibm1026': 'cp1026', 'ibm1026': 'cp1026', '1125': 'cp1125', 'ibm1125': 'cp1125', 'cp866u': 'cp1125', 'ruscii': 'cp1125', '1140': 'cp1140', 'ibm1140': 'cp1140', '1250': 'cp1250', 'windows_1250': 'cp1250', '1251': 'cp1251', 'windows_1251': 'cp1251', '1252': 'cp1252', 'windows_1252': 'cp1252', '1253': 'cp1253', 'windows_1253': 'cp1253', '1254': 'cp1254', 'windows_1254': 'cp1254', '1255': 'cp1255', 'windows_1255': 'cp1255', '1256': 'cp1256', 'windows_1256': 'cp1256', '1257': 'cp1257', 'windows_1257': 'cp1257', '1258': 'cp1258', 'windows_1258': 'cp1258', '273': 'cp273', 'ibm273': 'cp273', 'csibm273': 'cp273', '424': 'cp424', 'csibm424': 'cp424', 'ebcdic_cp_he': 'cp424', 'ibm424': 'cp424', '437': 'cp437', 'cspc8codepage437': 'cp437', 'ibm437': 'cp437', '500': 'cp500', 'csibm500': 'cp500', 'ebcdic_cp_be': 'cp500', 'ebcdic_cp_ch': 'cp500', 'ibm500': 'cp500', '775': 'cp775', 'cspc775baltic': 'cp775', 'ibm775': 'cp775', '850': 'cp850', 'cspc850multilingual': 'cp850', 'ibm850': 'cp850', '852': 'cp852', 'cspcp852': 'cp852', 'ibm852': 'cp852', '855': 'cp855', 'csibm855': 'cp855', 'ibm855': 'cp855', '857': 'cp857', 'csibm857': 'cp857', 'ibm857': 'cp857', '858': 'cp858', 'csibm858': 'cp858', 'ibm858': 'cp858', '860': 'cp860', 'csibm860': 'cp860', 'ibm860': 'cp860', '861': 'cp861', 'cp_is': 'cp861', 'csibm861': 'cp861', 'ibm861': 'cp861', '862': 'cp862', 'cspc862latinhebrew': 'cp862', 'ibm862': 'cp862', '863': 'cp863', 'csibm863': 'cp863', 'ibm863': 'cp863', '864': 'cp864', 'csibm864': 'cp864', 'ibm864': 'cp864', '865': 'cp865', 'csibm865': 'cp865', 'ibm865': 'cp865', '866': 'cp866', 'csibm866': 'cp866', 'ibm866': 'cp866', '869': 'cp869', 'cp_gr': 'cp869', 'csibm869': 'cp869', 'ibm869': 'cp869', '932': 'cp932', 'ms932': 'cp932', 'mskanji': 'cp932', 'ms_kanji': 'cp932', '949': 'cp949', 'ms949': 'cp949', 'uhc': 'cp949', '950': 'cp950', 'ms950': 'cp950', 'jisx0213': 'euc_jis_2004', 'eucjis2004': 'euc_jis_2004', 'euc_jis2004': 'euc_jis_2004', 'eucjisx0213': 'euc_jisx0213', 'eucjp': 'euc_jp', 'ujis': 'euc_jp', 'u_jis': 'euc_jp', 'euckr': 'euc_kr', 'korean': 'euc_kr', 'ksc5601': 'euc_kr', 'ks_c_5601': 'euc_kr', 'ks_c_5601_1987': 'euc_kr', 'ksx1001': 'euc_kr', 'ks_x_1001': 'euc_kr', 'gb18030_2000': 'gb18030', 'chinese': 'gb2312', 'csiso58gb231280': 'gb2312', 'euc_cn': 'gb2312', 'euccn': 'gb2312', 'eucgb2312_cn': 'gb2312', 'gb2312_1980': 'gb2312', 'gb2312_80': 'gb2312', 'iso_ir_58': 'gb2312', '936': 'gbk', 'cp936': 'gbk', 'ms936': 'gbk', 'hex': 'hex_codec', 'roman8': 'hp_roman8', 'r8': 'hp_roman8', 'csHPRoman8': 'hp_roman8', 'cp1051': 'hp_roman8', 'ibm1051': 'hp_roman8', 'hzgb': 'hz', 'hz_gb': 'hz', 'hz_gb_2312': 'hz', 'csiso2022jp': 'iso2022_jp', 'iso2022jp': 'iso2022_jp', 'iso_2022_jp': 'iso2022_jp', 'iso2022jp_1': 'iso2022_jp_1', 'iso_2022_jp_1': 'iso2022_jp_1', 'iso2022jp_2': 'iso2022_jp_2', 'iso_2022_jp_2': 'iso2022_jp_2', 'iso_2022_jp_2004': 'iso2022_jp_2004', 'iso2022jp_2004': 'iso2022_jp_2004', 'iso2022jp_3': 'iso2022_jp_3', 'iso_2022_jp_3': 'iso2022_jp_3', 'iso2022jp_ext': 'iso2022_jp_ext', 'iso_2022_jp_ext': 'iso2022_jp_ext', 'csiso2022kr': 'iso2022_kr', 'iso2022kr': 'iso2022_kr', 'iso_2022_kr': 'iso2022_kr', 'csisolatin6': 'iso8859_10', 'iso_8859_10': 'iso8859_10', 'iso_8859_10_1992': 'iso8859_10', 'iso_ir_157': 'iso8859_10', 'l6': 'iso8859_10', 'latin6': 'iso8859_10', 'thai': 'iso8859_11', 'iso_8859_11': 'iso8859_11', 'iso_8859_11_2001': 'iso8859_11', 'iso_8859_13': 'iso8859_13', 'l7': 'iso8859_13', 'latin7': 'iso8859_13', 'iso_8859_14': 'iso8859_14', 'iso_8859_14_1998': 'iso8859_14', 'iso_celtic': 'iso8859_14', 'iso_ir_199': 'iso8859_14', 'l8': 'iso8859_14', 'latin8': 'iso8859_14', 'iso_8859_15': 'iso8859_15', 'l9': 'iso8859_15', 'latin9': 'iso8859_15', 'iso_8859_16': 'iso8859_16', 'iso_8859_16_2001': 'iso8859_16', 'iso_ir_226': 'iso8859_16', 'l10': 'iso8859_16', 'latin10': 'iso8859_16', 'csisolatin2': 'iso8859_2', 'iso_8859_2': 'iso8859_2', 'iso_8859_2_1987': 'iso8859_2', 'iso_ir_101': 'iso8859_2', 'l2': 'iso8859_2', 'latin2': 'iso8859_2', 'csisolatin3': 'iso8859_3', 'iso_8859_3': 'iso8859_3', 'iso_8859_3_1988': 'iso8859_3', 'iso_ir_109': 'iso8859_3', 'l3': 'iso8859_3', 'latin3': 'iso8859_3', 'csisolatin4': 'iso8859_4', 'iso_8859_4': 'iso8859_4', 'iso_8859_4_1988': 'iso8859_4', 'iso_ir_110': 'iso8859_4', 'l4': 'iso8859_4', 'latin4': 'iso8859_4', 'csisolatincyrillic': 'iso8859_5', 'cyrillic': 'iso8859_5', 'iso_8859_5': 'iso8859_5', 'iso_8859_5_1988': 'iso8859_5', 'iso_ir_144': 'iso8859_5', 'arabic': 'iso8859_6', 'asmo_708': 'iso8859_6', 'csisolatinarabic': 'iso8859_6', 'ecma_114': 'iso8859_6', 'iso_8859_6': 'iso8859_6', 'iso_8859_6_1987': 'iso8859_6', 'iso_ir_127': 'iso8859_6', 'csisolatingreek': 'iso8859_7', 'ecma_118': 'iso8859_7', 'elot_928': 'iso8859_7', 'greek': 'iso8859_7', 'greek8': 'iso8859_7', 'iso_8859_7': 'iso8859_7', 'iso_8859_7_1987': 'iso8859_7', 'iso_ir_126': 'iso8859_7', 'csisolatinhebrew': 'iso8859_8', 'hebrew': 'iso8859_8', 'iso_8859_8': 'iso8859_8', 'iso_8859_8_1988': 'iso8859_8', 'iso_ir_138': 'iso8859_8', 'csisolatin5': 'iso8859_9', 'iso_8859_9': 'iso8859_9', 'iso_8859_9_1989': 'iso8859_9', 'iso_ir_148': 'iso8859_9', 'l5': 'iso8859_9', 'latin5': 'iso8859_9', 'cp1361': 'johab', 'ms1361': 'johab', 'cskoi8r': 'koi8_r', 'kz_1048': 'kz1048', 'rk1048': 'kz1048', 'strk1048_2002': 'kz1048', '8859': 'latin_1', 'cp819': 'latin_1', 'csisolatin1': 'latin_1', 'ibm819': 'latin_1', 'iso8859': 'latin_1', 'iso8859_1': 'latin_1', 'iso_8859_1': 'latin_1', 'iso_8859_1_1987': 'latin_1', 'iso_ir_100': 'latin_1', 'l1': 'latin_1', 'latin': 'latin_1', 'latin1': 'latin_1', 'maccyrillic': 'mac_cyrillic', 'macgreek': 'mac_greek', 'maciceland': 'mac_iceland', 'maccentraleurope': 'mac_latin2', 'mac_centeuro': 'mac_latin2', 'maclatin2': 'mac_latin2', 'macintosh': 'mac_roman', 'macroman': 'mac_roman', 'macturkish': 'mac_turkish', 'ansi': 'mbcs', 'dbcs': 'mbcs', 'csptcp154': 'ptcp154', 'pt154': 'ptcp154', 'cp154': 'ptcp154', 'cyrillic_asian': 'ptcp154', 'quopri': 'quopri_codec', 'quoted_printable': 'quopri_codec', 'quotedprintable': 'quopri_codec', 'rot13': 'rot_13', 'csshiftjis': 'shift_jis', 'shiftjis': 'shift_jis', 'sjis': 'shift_jis', 's_jis': 'shift_jis', 'shiftjis2004': 'shift_jis_2004', 'sjis_2004': 'shift_jis_2004', 's_jis_2004': 'shift_jis_2004', 'shiftjisx0213': 'shift_jisx0213', 'sjisx0213': 'shift_jisx0213', 's_jisx0213': 'shift_jisx0213', 'tis620': 'tis_620', 'tis_620_0': 'tis_620', 'tis_620_2529_0': 'tis_620', 'tis_620_2529_1': 'tis_620', 'iso_ir_166': 'tis_620', 'u16': 'utf_16', 'utf16': 'utf_16', 'unicodebigunmarked': 'utf_16_be', 'utf_16be': 'utf_16_be', 'unicodelittleunmarked': 'utf_16_le', 'utf_16le': 'utf_16_le', 'u32': 'utf_32', 'utf32': 'utf_32', 'utf_32be': 'utf_32_be', 'utf_32le': 'utf_32_le', 'u7': 'utf_7', 'utf7': 'utf_7', 'unicode_1_1_utf_7': 'utf_7', 'u8': 'utf_8', 'utf': 'utf_8', 'utf8': 'utf_8', 'utf8_ucs2': 'utf_8', 'utf8_ucs4': 'utf_8', 'cp65001': 'utf_8', 'uu': 'uu_codec', 'zip': 'zlib_codec', 'zlib': 'zlib_codec', 'x_mac_japanese': 'shift_jis', 'x_mac_korean': 'euc_kr', 'x_mac_simp_chinese': 'gb2312', 'x_mac_trad_chinese': 'big5'}

In [28]:
encodings_list=encodings.aliases.aliases.keys()
# keys are acting as encodings

In [29]:
suitable_encodings = []
not_suitable_encodings = []
unsupported = []

for i in encodings_list:
    try:
        df = pd.read_csv(
            r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Encoding_error\file_guide.csv",
            encoding=i,
            on_bad_lines='skip'
        )
        suitable_encodings.append(i)

    except UnicodeError:
        # All decoding/translation failures
        not_suitable_encodings.append(i)

    except LookupError:
        # Encoding name not recognized
        unsupported.append(i)

In [30]:
print(len(suitable_encodings),len(not_suitable_encodings),len(unsupported))
unsupported

248 66 12

['base64',
 'base_64',
 'bz2',
 'hex',
 'csHPRoman8',
 'quopri',
 'quoted_printable',
 'quotedprintable',
 'rot13',
 'uu',
 'zip',
 'zlib']

In [31]:
df.head()

,File,Text,Author,Encoding,Language,Words
0,die_ISO-8859-1.txt,Die F羹rstin,Kasimir Edschmid,ISO-8859-1,German,13314
1,harpers_ASCII.txt,"Harper's Round Table, October 8, 1895",Various,ASCII,English,29094
2,olaf_Windows-1251.txt,Olaf van Geldern,Pencho Slaveykov,Windows 1251,Bulgarian,2790
3,portugal_ISO-8859-1.txt,"Portugal enfermo por vicios, e abusos de ambos...",Jos矇 Daniel Rodrigues da Costa,ISO-8859-1,Portuguese,14215
4,shisei_UTF-8.txt,Shisei,Junichiro Tanizaki,UTF-8,Japanese,4809

# Out of Memory

In [32]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Datasets\WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [33]:
df.shape

(1470, 35)

In [34]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [35]:
df=pd.read_csv(r"C:\Users\masir\Downloads\Datasets\WA_Fn-UseC_-HR-Employee-Attrition.csv",chunksize=100)

In [36]:
df

In [37]:
c=0
for chunk in df:
    print('*'*100)
    print(chunk.shape)
    print(chunk.head(2))
    print('*'*100)
    c+=1

****************************************************************************************************
(100, 35)
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate              Department  \
100   37       Yes  Travel_Rarely        807         Human Resources
101   32        No  Travel_Rarely        827  Research & Development

     DistanceFromHome  Education   EducationField  EmployeeCount  \
100                 6          4  Human Resources              1
101                 1          1    Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
100             133  ...                         4            80
101             134  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
100                 0                  7                      3
101                 0                  1                      2

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
100               3               3                  2
101               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
100                        0                     2
101                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
200   27        No  Travel_Frequently        472  Research & Development
201   49        No         Non-Travel       1002  Research & Development

     DistanceFromHome  Education    EducationField  EmployeeCount  \
200                 1          1  Technical Degree              1
201                18          4     Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
200             274  ...                         3            80
201             275  ...                         1            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
200                 1                  6                      1
201                 2                  7                      0

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
200               3               2                  2
201               3               7                  7

     YearsSinceLastPromotion  YearsWithCurrManager
200                        2                     0
201                        1                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate Department  DistanceFromHome  \
300   41        No  Travel_Rarely        334      Sales                 2
301   18        No  Travel_Rarely        812      Sales                10

     Education EducationField  EmployeeCount  EmployeeNumber  ...  \
300          4  Life Sciences              1             410  ...
301          3        Medical              1             411  ...

     RelationshipSatisfaction StandardHours  StockOptionLevel  \
300                         2            80                 0
301                         1            80                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
300                 22                      2               3              22
301                  0                      2               3               0

    YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
300                 10                        0                     4
301                  0                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
400   39        No  Travel_Frequently       1218  Research & Development
401   56        No  Travel_Frequently        906                   Sales

     DistanceFromHome  Education EducationField  EmployeeCount  \
400                 1          1  Life Sciences              1
401                 6          3  Life Sciences              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
400             531  ...                         3            80
401             532  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
400                 1                 21                      3
401                 3                 36                      0

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
400               3              21                  8
401               2               7                  7

     YearsSinceLastPromotion  YearsWithCurrManager
400                        1                     6
401                        7                     7

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
500   32        No      Travel_Rarely        646  Research & Development
501   30        No  Travel_Frequently        160  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
500                 9          4  Life Sciences              1
501                 3          3        Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
500             679  ...                         4            80
501             680  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
500                 1                  6                      2
501                 1                  1                      2

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
500               2               6                  4
501               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
500                        0                     5
501                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
600   32        No      Travel_Rarely        859  Research & Development
601   40        No  Travel_Frequently        720  Research & Development

     DistanceFromHome  Education EducationField  EmployeeCount  \
600                 4          3  Life Sciences              1
601                16          4        Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
600             830  ...                         3            80
601             832  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
600                 1                 14                      3
601                 0                 10                      6

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
600               3              14                 13
601               3               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
600                        6                     8
601                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition BusinessTravel  DailyRate              Department  \
700   58       Yes  Travel_Rarely        289  Research & Development
701   53        No  Travel_Rarely       1376                   Sales

     DistanceFromHome  Education    EducationField  EmployeeCount  \
700                 2          3  Technical Degree              1
701                 2          2           Medical              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
700             977  ...                         1            80
701             981  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
700                 0                  7                      4
701                 1                 22                      3

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
700               3               1                  0
701               4              17                 13

     YearsSinceLastPromotion  YearsWithCurrManager
700                        0                     0
701                       15                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
800   28       Yes  Travel_Frequently       1009  Research & Development
801   50       Yes  Travel_Frequently        959                   Sales

     DistanceFromHome  Education EducationField  EmployeeCount  \
800                 1          3        Medical              1
801                 1          4          Other              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
800            1111  ...                         1            80
801            1113  ...                         4            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
800                 2                  1                      2
801                 0                  5                      4

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
800               3               1                  0
801               3               0                  0

     YearsSinceLastPromotion  YearsWithCurrManager
800                        0                     0
801                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
     Age Attrition     BusinessTravel  DailyRate              Department  \
900   36        No  Travel_Frequently        469  Research & Development
901   48        No      Travel_Rarely        969  Research & Development

     DistanceFromHome  Education    EducationField  EmployeeCount  \
900                 3          3  Technical Degree              1
901                 2          2  Technical Degree              1

     EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
900            1257  ...                         3            80
901            1258  ...                         3            80

     StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
900                 0                 12                      2
901                 0                  7                      4

    WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
900               2              11                 10
901               2               1                  0

     YearsSinceLastPromotion  YearsWithCurrManager
900                        0                     7
901                        0                     0

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1000   52        No  Travel_Rarely        258  Research & Development
1001   37        No  Travel_Rarely       1462  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1000                 8          4          Other              1
1001                11          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1000            1409  ...                         3            80
1001            1411  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1000                 0                 12                      2
1001                 0                  8                      6

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1000               1               5                  4
1001               3               3                  2

      YearsSinceLastPromotion  YearsWithCurrManager
1000                        0                     4
1001                        0                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1100   35        No  Travel_Rarely       1402                   Sales
1101   32        No  Travel_Rarely        824  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1100                28          4  Life Sciences              1
1101                 5          2  Life Sciences              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1100            1554  ...                         1            80
1101            1555  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1100                 2                  6                      5
1101                 1                 12                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1100               3               5                  3
1101               3               7                  1

      YearsSinceLastPromotion  YearsWithCurrManager
1100                        4                     2
1101                        2                     5

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate              Department  \
1200   44        No  Travel_Rarely        528         Human Resources
1201   23       Yes  Travel_Rarely       1320  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
1200                 1          3  Life Sciences              1
1201                 8          1        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1200            1683  ...                         1            80
1201            1684  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1200                 3                  8                      2
1201                 0                  5                      2

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
1200               3               2                  2
1201               3               5                  4

      YearsSinceLastPromotion  YearsWithCurrManager
1200                        2                     2
1201                        1                     2

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(100, 35)
      Age Attrition BusinessTravel  DailyRate Department  DistanceFromHome  \
1300   34        No  Travel_Rarely        810      Sales                 8
1301   58        No     Non-Travel        350      Sales                 2

      Education    EducationField  EmployeeCount  EmployeeNumber  ...  \
1300          2  Technical Degree              1            1823  ...
1301          3           Medical              1            1824  ...

      RelationshipSatisfaction StandardHours  StockOptionLevel  \
1300                         3            80                 2
1301                         4            80                 1

      TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
1300                 10                      5               3
1301                 37                      0               2

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
1300              10                  8                        4
1301              16                  9                       14

      YearsWithCurrManager
1300                     8
1301                    14

[2 rows x 35 columns]
****************************************************************************************************
****************************************************************************************************
(70, 35)
      Age Attrition     BusinessTravel  DailyRate       Department  \
1400   38        No  Travel_Frequently       1444  Human Resources
1401   55        No      Travel_Rarely        189  Human Resources

      DistanceFromHome  Education   EducationField  EmployeeCount  \
1400                 1          4            Other              1
1401                26          4  Human Resources              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
1400            1972  ...                         2            80
1401            1973  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
1400                 1                  7                      2
1401                 1                 35                      0


In [38]:
c

15

# Time Taken to load the Huge amount of data

In [40]:
import time
x=time.time()
df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\survey_results_public.csv\survey_results_public.csv")
y=time.time()
y-x

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\2470447210.py:3: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\survey_results_public.csv\survey_results_public.csv")

5.162574052810669

In [42]:
import polars
x=time.time()
df=polars.read_csv(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\survey_results_public.csv\survey_results_public.csv")
y=time.time()
y-x

0.4332845211029053

In [43]:
df.head()

shape: (5, 129)
┌────────────┬───────┬────────────┬────────────────┬───┬────────────┬────────────┬─────────────────────┬───────────────┐
│ Respondent ┆ Hobby ┆ OpenSource ┆ Country        ┆ … ┆ Dependents ┆ MilitaryUS ┆ SurveyTooLong       ┆ SurveyEasy    │
│ ---        ┆ ---   ┆ ---        ┆ ---            ┆   ┆ ---        ┆ ---        ┆ ---                 ┆ ---           │
│ i64        ┆ str   ┆ str        ┆ str            ┆   ┆ str        ┆ str        ┆ str                 ┆ str           │
╞════════════╪═══════╪════════════╪════════════════╪═══╪════════════╪════════════╪═════════════════════╪═══════════════╡
│ 1          ┆ Yes   ┆ No         ┆ Kenya          ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Very easy     │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 3          ┆ Yes   ┆ Yes        ┆ United Kingdom ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 4          ┆ Yes   ┆ Yes        ┆ United States  ┆ … ┆ NA         ┆ NA         ┆ NA                  ┆ NA            │
│ 5          ┆ No    ┆ No         ┆ United States  ┆ … ┆ No         ┆ No         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
│ 7          ┆ Yes   ┆ No         ┆ South Africa   ┆ … ┆ Yes        ┆ NA         ┆ The survey was an   ┆ Somewhat easy │
│            ┆       ┆            ┆                ┆   ┆            ┆            ┆ appropriate …       ┆               │
└────────────┴───────┴────────────┴────────────────┴───┴────────────┴────────────┴─────────────────────┴───────────────┘

# Excel

In [44]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book1.xlsx")

In [45]:
df

  Name  Age
0   p1   22
1   p2   22
2   p3   21
3   p4   22

In [46]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book1.xlsx",sheet_name=0)
df

  Name  Age
0   p1   22
1   p2   22
2   p3   21
3   p4   22

In [47]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book1.xlsx",sheet_name=1)
df

   English  Maths
0       99     88
1       99     88
2       88     99
3       88     99

In [48]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book1.xlsx",sheet_name=2)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   science  Computer
0       77        88
1       55        55
2       44        77
3       44        99

In [49]:
df=pd.read_excel(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book1.xlsx",sheet_name=[0,1,2])
print(type(df))
df

<class 'dict'>

{0:   Name  Age
 0   p1   22
 1   p2   22
 2   p3   21
 3   p4   22,
 1:    English  Maths
 0       99     88
 1       99     88
 2       88     99
 3       88     99,
 2:    science  Computer
 0       77        88
 1       55        55
 2       44        77
 3       44        99}

In [50]:
print(df.keys())
print(df.values())

dict_keys([0, 1, 2])
dict_values([  Name  Age
0   p1   22
1   p2   22
2   p3   21
3   p4   22,    English  Maths
0       99     88
1       99     88
2       88     99
3       88     99,    science  Computer
0       77        88
1       55        55
2       44        77
3       44        99])

In [51]:
df[0]

  Name  Age
0   p1   22
1   p2   22
2   p3   21
3   p4   22

In [52]:
df[1]

   English  Maths
0       99     88
1       99     88
2       88     99
3       88     99

In [53]:
df[2]

   science  Computer
0       77        88
1       55        55
2       44        77
3       44        99

In [54]:
# converting data_frame to excel
df[0].to_excel(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Students_info.xlsx')

In [55]:
# save multiple dataframes into a multiple sheets(excel)

In [57]:
with pd.ExcelWriter(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Book3.xlsx',mode='x') as f:
    df[0].to_excel(f,sheet_name='Students_info')
    df[1].to_excel(f,sheet_name='Sem-1')
    df[2].to_excel(f,sheet_name='Sem-2')

# json

In [58]:
x='{"Name":["P1","P2"],"Age":[22,23]}'
# structred Json

In [59]:
df=pd.read_json(x)

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\1700725421.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(x)

In [60]:
df

  Name  Age
0   P1   22
1   P2   23

In [61]:
x='{"Name":["P1","P2"],1:[22,23]}' #keys must be string
df=pd.read_json(x)

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\3469694028.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(x)

ValueError: Key name of object must be 'string' when decoding 'object'

In [62]:
df

  Name  Age
0   P1   22
1   P2   23

In [63]:
df.to_json(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\Students_info.json')

# orient='index'

In [64]:
x='{"Name":["P1","P2"],"Age":[22,23]}'
x=df.to_json(orient='index')
x

'{"0":{"Name":"P1","Age":22},"1":{"Name":"P2","Age":23}}'

In [65]:
pd.read_json(x,orient='index')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\4017846063.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x,orient='index')

  Name  Age
0   P1   22
1   P2   23

# orient='columns'

In [66]:
x1=df.to_json(orient='columns')
x1

'{"Name":{"0":"P1","1":"P2"},"Age":{"0":22,"1":23}}'

In [67]:
pd.read_json(x1,orient='columns')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\1699096983.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x1,orient='columns')

  Name  Age
0   P1   22
1   P2   23

In [68]:
pd.read_json(x1,orient='index')
# wrong orientation

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\2492707521.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x1,orient='index')

       0   1
Name  P1  P2
Age   22  23

# orient='values'

In [69]:
x2=df.to_json(orient='values')
x2

'[["P1",22],["P2",23]]'

In [70]:
pd.read_json(x2,orient='values')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\1248315864.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient='values')

    0   1
0  P1  22
1  P2  23

# orient='split'

In [71]:
x3=df.to_json(orient='split')
x3

'{"columns":["Name","Age"],"index":[0,1],"data":[["P1",22],["P2",23]]}'

In [72]:
pd.read_json(x3,orient='split')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\1309479309.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3,orient='split')

  Name  Age
0   P1   22
1   P2   23

# orient='table'

In [73]:
x4=df.to_json(orient='table')
x4

'{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Name","type":"string"},{"name":"Age","type":"integer"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"Name":"P1","Age":22},{"index":1,"Name":"P2","Age":23}]}'

In [74]:
pd.read_json(x4,orient='table')

C:\Users\masir\AppData\Local\Temp\ipykernel_28260\1562368205.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x4,orient='table')

  Name  Age
0   P1   22
1   P2   23

# semi_structred_format(nested_json)

In [56]:
x={'name':['P1','P2','P3'],'Marks':{'Maths':[77,88,99],'English':[99,88,77]}}

In [57]:
pd.json_normalize(x)

           name   Marks.Maths Marks.English
0  [P1, P2, P3]  [77, 88, 99]  [99, 88, 77]

In [63]:
x={'name':'P1','Marks':{'Sem1':{'Maths':[77,88,99],'English':[99,88,77]},'Sem2':{'Maths':[77,88,99],'English':[99,88,77]}}}
# level_0=name,marks
# Level_1=sem1,sem2
# level_2=maths.english

In [64]:
pd.json_normalize(x)

  name Marks.Sem1.Maths Marks.Sem1.English Marks.Sem2.Maths Marks.Sem2.English
0   P1     [77, 88, 99]       [99, 88, 77]     [77, 88, 99]       [99, 88, 77]

In [65]:
pd.json_normalize(x,max_level=0)

  name                                              Marks
0   P1  {'Sem1': {'Maths': [77, 88, 99], 'English': [9...

In [66]:
pd.json_normalize(x,max_level=1)

,name,Marks.Sem1,Marks.Sem2
0,P1,"{'Maths': [77, 88, 99], 'English': [99, 88, 77]}","{'Maths': [77, 88, 99], 'English': [99, 88, 77]}"

In [67]:
pd.json_normalize(x,max_level=2)

  name Marks.Sem1.Maths Marks.Sem1.English Marks.Sem2.Maths Marks.Sem2.English
0   P1     [77, 88, 99]       [99, 88, 77]     [77, 88, 99]       [99, 88, 77]

In [69]:
x={'Name':'P1','Marks':[{'sem1':20,'sem2':30}],'Age':39}

In [70]:
pd.json_normalize(x,record_path='Marks')

   sem1  sem2
0    20    30

In [72]:
pd.json_normalize(x,record_path='Marks',meta=['Name','Age'])

   sem1  sem2 Name Age
0    20    30   P1  39

In [73]:
x={'Name':{'P1':12},'Marks':[{'sem1':20,'sem2':30}],'Age':39}

In [74]:
pd.json_normalize(x,record_path='Marks',meta=[['Name','P1'],'Age'])

   sem1  sem2 Name.P1 Age
0    20    30      12  39

In [3]:
data = {
    "order_id": 101,
    "customer": {
        "customer_id": "C001",
        "name": "Rahul",
        "contact": {
            "email": "rahul@gmail.com",
            "phone": "9876543210"
        }
    },
    "items": [
        {
            "product_id": "P001",
            "product_name": "Laptop",
            "price": 60000,
            "quantity": 1
        },
        {
            "product_id": "P002",
            "product_name": "Mouse",
            "price": 800,
            "quantity": 2
        }
    ],
    "payment": {
        "method": "Credit Card",
        "status": "Success"
    }
}

In [4]:
pd.json_normalize(data,record_path=['items'])

  product_id product_name  price  quantity
0       P001       Laptop  60000         1
1       P002        Mouse    800         2

In [5]:
pd.json_normalize(data,record_path=['items'],meta=['order_id','customer','payment'])

,product_id,product_name,price,quantity,order_id,customer,payment
0,P001,Laptop,60000,1,101,"{'customer_id': 'C001', 'name': 'Rahul', 'cont...","{'method': 'Credit Card', 'status': 'Success'}"
1,P002,Mouse,800,2,101,"{'customer_id': 'C001', 'name': 'Rahul', 'cont...","{'method': 'Credit Card', 'status': 'Success'}"

In [6]:
pd.json_normalize(data,record_path=['items'],meta=['order_id',['customer','customer_id'],['customer','name'],['customer','contact'],'payment'])

,product_id,product_name,price,quantity,order_id,customer.customer_id,customer.name,customer.contact,payment
0,P001,Laptop,60000,1,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...","{'method': 'Credit Card', 'status': 'Success'}"
1,P002,Mouse,800,2,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...","{'method': 'Credit Card', 'status': 'Success'}"

In [7]:
pd.json_normalize(data,record_path=['items'],meta=['order_id',['customer','customer_id'],['customer','name'],['customer','contact'],['customer','contact','email'],['customer','contact','phone'],'payment'])

,product_id,product_name,price,quantity,order_id,customer.customer_id,customer.name,customer.contact,customer.contact.email,customer.contact.phone,payment
0,P001,Laptop,60000,1,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...",rahul@gmail.com,9876543210,"{'method': 'Credit Card', 'status': 'Success'}"
1,P002,Mouse,800,2,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...",rahul@gmail.com,9876543210,"{'method': 'Credit Card', 'status': 'Success'}"

In [8]:
pd.json_normalize(data,record_path=['items'],meta=['order_id',['customer','customer_id'],['customer','name'],['customer','contact'],['customer','contact','email'],['customer','contact','phone'],['payment','method'],['payment','status']])

,product_id,product_name,price,quantity,order_id,customer.customer_id,customer.name,customer.contact,customer.contact.email,customer.contact.phone,payment.method,payment.status
0,P001,Laptop,60000,1,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...",rahul@gmail.com,9876543210,Credit Card,Success
1,P002,Mouse,800,2,101,C001,Rahul,"{'email': 'rahul@gmail.com', 'phone': '9876543...",rahul@gmail.com,9876543210,Credit Card,Success

In [11]:
x=[{'Name':'p1','Age':22},{'Name':'p2','Age':21}]

In [12]:
pd.json_normalize(x)

  Name  Age
0   p1   22
1   p2   21

In [16]:
x=[{'Name':'p1','Age':22,'marks':{'Hindi':10,'Science':100}},{'Name':'p2','Age':21,'marks':{'Hindi':100,'Science':89}}]

In [17]:
pd.json_normalize(x)

  Name  Age  marks.Hindi  marks.Science
0   p1   22           10            100
1   p2   21          100             89

In [18]:
x=[{'Name':'p1','Age':22,'marks':[{'Hindi':10,'Science':100}]},{'Name':'p2','Age':21,'marks':[{'Hindi':100,'Science':89}]}]

In [19]:
pd.json_normalize(x)

  Name  Age                            marks
0   p1   22  [{'Hindi': 10, 'Science': 100}]
1   p2   21  [{'Hindi': 100, 'Science': 89}]

In [20]:
pd.json_normalize(x,record_path=['marks'],meta=['Name','Age'])

   Hindi  Science Name Age
0     10      100   p1  22
1    100       89   p2  21

# Data Collection Using Web Api Key

In [2]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/8733/career"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [23]:
response=requests.get(url,headers=headers)

In [24]:
response.status_code

200

In [26]:
data=response.json()
data

{'values': [{'name': 't20',
   'debut': 'vs Zimbabwe,  2016-06-18, Harare Sports Club',
   'lastPlayed': 'vs England,  2022-11-10, Adelaide Oval',
   'debutMatchID': '16610',
   'lastPlayedMatchId': '43201'},
  {'name': 'test',
   'debut': 'vs Australia,  2014-12-26, Melbourne Cricket Ground',
   'lastPlayed': 'vs South Africa,  2025-11-22, Barsapara Cricket Stadium',
   'debutMatchID': '13842',
   'lastPlayedMatchId': '117380'},
  {'name': 'odi',
   'debut': 'vs Zimbabwe,  2016-06-11, Harare Sports Club',
   'lastPlayed': 'vs South Africa,  2025-12-06, ACA-VDCA Cricket Stadium',
   'debutMatchID': '16607',
   'lastPlayedMatchId': '117404'},
  {'name': 'ipl',
   'debut': 'vs Kolkata Knight Riders,  2013-04-11, M.Chinnaswamy Stadium',
   'lastPlayed': 'vs Punjab Kings,  2025-05-24, Sawai Mansingh Stadium',
   'debutMatchID': '11876',
   'lastPlayedMatchId': '118874'},
  {'name': 'cl', 'debut': 'Not played', 'lastPlayed': 'Not played'}],
 'appIndex': {'seoTitle': 'KL Rahul Profile - Cricbuzz | Cricbuzz.com',
  'webURL': 'http://www.cricbuzz.com/profiles/8733/kl-rahul'}}

In [30]:
pd.json_normalize(data,record_path=['values'],meta=[['appIndex','webURL']])

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.webURL
0,t20,"vs Zimbabwe, 2016-06-18, Harare Sports Club","vs England, 2022-11-10, Adelaide Oval",16610,43201,http://www.cricbuzz.com/profiles/8733/kl-rahul
1,test,"vs Australia, 2014-12-26, Melbourne Cricket G...","vs South Africa, 2025-11-22, Barsapara Cricke...",13842,117380,http://www.cricbuzz.com/profiles/8733/kl-rahul
2,odi,"vs Zimbabwe, 2016-06-11, Harare Sports Club","vs South Africa, 2025-12-06, ACA-VDCA Cricket...",16607,117404,http://www.cricbuzz.com/profiles/8733/kl-rahul
3,ipl,"vs Kolkata Knight Riders, 2013-04-11, M.Chinn...","vs Punjab Kings, 2025-05-24, Sawai Mansingh S...",11876,118874,http://www.cricbuzz.com/profiles/8733/kl-rahul
4,cl,Not played,Not played,NaN,NaN,http://www.cricbuzz.com/profiles/8733/kl-rahul

In [31]:
url = "https://cricbuzz-cricket.p.rapidapi.com/teams/v1/international"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [32]:
response=requests.get(url,headers=headers)

In [33]:
response.status_code

200

In [34]:
response.headers

{'Date': 'Sun, 11 Jan 2026 13:57:39 GMT', 'Content-Type': 'application/json', 'Content-Length': '899', 'Connection': 'keep-alive', 'Content-Encoding': 'gzip', 'Cache-Control': 'no-cache, no-store', 'Vary': 'Accept-Encoding', 'cb-loc': 'IN', 'X-RateLimit-Requests-Limit': '200', 'X-RateLimit-Requests-Remaining': '196', 'X-RateLimit-Requests-Reset': '2676387', 'X-RateLimit-rapid-free-plans-hard-limit-Limit': '500000', 'X-RateLimit-rapid-free-plans-hard-limit-Remaining': '499996', 'X-RateLimit-rapid-free-plans-hard-limit-Reset': '2676387', 'Server': 'RapidAPI-1.2.8', 'X-RapidAPI-Version': '1.2.8', 'X-RapidAPI-Region': 'AWS - ap-southeast-1', 'X-RapidAPI-Request-Id': '228984baa3b5d7dd4757dde89b51d8fec68526d823f91d300db9b9fce86bcf5b'}

In [36]:
data=response.json()
data

{'list': [{'teamName': 'Test Teams'},
  {'teamId': 2,
   'teamName': 'India',
   'teamSName': 'IND',
   'imageId': 776162,
   'countryName': 'India'},
  {'teamId': 96,
   'teamName': 'Afghanistan',
   'teamSName': 'AFG',
   'imageId': 776177},
  {'teamId': 27, 'teamName': 'Ireland', 'teamSName': 'IRE', 'imageId': 776285},
  {'teamId': 3,
   'teamName': 'Pakistan',
   'teamSName': 'PAK',
   'imageId': 776308,
   'countryName': 'Pakistan'},
  {'teamId': 4,
   'teamName': 'Australia',
   'teamSName': 'AUS',
   'imageId': 776202,
   'countryName': 'Australia'},
  {'teamId': 5,
   'teamName': 'Sri Lanka',
   'teamSName': 'SL',
   'imageId': 776254,
   'countryName': 'Sri Lanka'},
  {'teamId': 6,
   'teamName': 'Bangladesh',
   'teamSName': 'BAN',
   'imageId': 776210},
  {'teamId': 9, 'teamName': 'England', 'teamSName': 'ENG', 'imageId': 776237},
  {'teamId': 10,
   'teamName': 'West Indies',
   'teamSName': 'WI',
   'imageId': 776191},
  {'teamId': 11,
   'teamName': 'South Africa',
   'teamSName': 'RSA',
   'imageId': 776287},
  {'teamId': 12,
   'teamName': 'Zimbabwe',
   'teamSName': 'ZIM',
   'imageId': 776198,
   'countryName': 'Zimbabwe'},
  {'teamId': 13,
   'teamName': 'New Zealand',
   'teamSName': 'NZ',
   'imageId': 776333},
  {'teamName': 'Associate Teams'},
  {'teamId': 71,
   'teamName': 'Malaysia',
   'teamSName': 'MLY',
   'imageId': 776319},
  {'teamId': 72, 'teamName': 'Nepal', 'teamSName': 'NEP', 'imageId': 776331},
  {'teamId': 77, 'teamName': 'Germany', 'teamSName': 'GER', 'imageId': 776260},
  {'teamId': 161,
   'teamName': 'Namibia',
   'teamSName': 'NAM',
   'imageId': 776326},
  {'teamId': 185,
   'teamName': 'Denmark',
   'teamSName': 'DEN',
   'imageId': 776232},
  {'teamId': 190,
   'teamName': 'Singapore',
   'teamSName': 'SIN',
   'imageId': 776275},
  {'teamId': 287,
   'teamName': 'Papua New Guinea',
   'teamSName': 'PNG',
   'imageId': 776304},
  {'teamId': 298, 'teamName': 'Kuwait', 'teamSName': 'KUW', 'imageId': 776312},
  {'teamId': 300,
   'teamName': 'Vanuatu',
   'teamSName': 'VAN',
   'imageId': 776229},
  {'teamId': 303, 'teamName': 'Jersey', 'teamSName': 'JER', 'imageId': 776300},
  {'teamId': 304, 'teamName': 'Oman', 'teamSName': 'OMAN', 'imageId': 776328},
  {'teamId': 343, 'teamName': 'Fiji', 'teamSName': 'FIJI', 'imageId': 776251},
  {'teamId': 527, 'teamName': 'Italy', 'teamSName': 'ITA', 'imageId': 776295},
  {'teamId': 529,
   'teamName': 'Botswana',
   'teamSName': 'BW',
   'imageId': 776225},
  {'teamId': 541,
   'teamName': 'Belgium',
   'teamSName': 'BEL',
   'imageId': 776219},
  {'teamId': 44, 'teamName': 'Uganda', 'teamSName': 'UGA', 'imageId': 776233},
  {'teamId': 26, 'teamName': 'Canada', 'teamSName': 'CAN', 'imageId': 776227},
  {'teamId': 7,
   'teamName': 'United Arab Emirates',
   'teamSName': 'UAE',
   'imageId': 776242},
  {'teamId': 8,
   'teamName': 'Hong Kong, China',
   'teamSName': 'HKC',
   'imageId': 776271},
  {'teamId': 14, 'teamName': 'Kenya', 'teamSName': 'KEN', 'imageId': 776303},
  {'teamId': 15,
   'teamName': 'United States of America',
   'teamSName': 'USA',
   'imageId': 776186,
   'countryName': 'United States of America'},
  {'teamId': 23,
   'teamName': 'Scotland',
   'teamSName': 'SCO',
   'imageId': 776280},
  {'teamId': 24,
   'teamName': 'Netherlands',
   'teamSName': 'NED',
   'imageId': 776335},
  {'teamId': 25, 'teamName': 'Bermuda', 'teamSName': 'BER', 'imageId': 776221},
  {'teamId': 675, 'teamName': 'Iran', 'teamSName': 'IRN', 'imageId': 776282}],
 'appIndex': {'seoTitle': 'Live cricket scores, schedule, news, archive, series | Cricbuzz.com',
  'webURL': 'www.cricbuzz.com/cricket-team/'}}

In [43]:
teams=pd.json_normalize(data,record_path=['list'],meta=[['appIndex','seoTitle']])

In [44]:
teams.dropna(subset='teamId',inplace=True)

In [45]:
teams

,teamName,teamId,teamSName,imageId,countryName,appIndex.seoTitle
1,India,2.0,IND,776162.0,India,"Live cricket scores, schedule, news, archive, ..."
2,Afghanistan,96.0,AFG,776177.0,NaN,"Live cricket scores, schedule, news, archive, ..."
3,Ireland,27.0,IRE,776285.0,NaN,"Live cricket scores, schedule, news, archive, ..."
4,Pakistan,3.0,PAK,776308.0,Pakistan,"Live cricket scores, schedule, news, archive, ..."
5,Australia,4.0,AUS,776202.0,Australia,"Live cricket scores, schedule, news, archive, ..."
6,Sri Lanka,5.0,SL,776254.0,Sri Lanka,"Live cricket scores, schedule, news, archive, ..."
7,Bangladesh,6.0,BAN,776210.0,NaN,"Live cricket scores, schedule, news, archive, ..."
8,England,9.0,ENG,776237.0,NaN,"Live cricket scores, schedule, news, archive, ..."
9,West Indies,10.0,WI,776191.0,NaN,"Live cricket scores, schedule, news, archive, ..."
10,South Africa,11.0,RSA,776287.0,NaN,"Live cricket scores, schedule, news, archive, ..."
11,Zimbabwe,12.0,ZIM,776198.0,Zimbabwe,"Live cricket scores, schedule, news, archive, ..."
12,New Zealand,13.0,NZ,776333.0,NaN,"Live cricket scores, schedule, news, archive, ..."
14,Malaysia,71.0,MLY,776319.0,NaN,"Live cricket scores, schedule, news, archive, ..."
15,Nepal,72.0,NEP,776331.0,NaN,"Live cricket scores, schedule, news, archive, ..."
16,Germany,77.0,GER,776260.0,NaN,"Live cricket scores, schedule, news, archive, ..."
17,Namibia,161.0,NAM,776326.0,NaN,"Live cricket scores, schedule, news, archive, ..."
18,Denmark,185.0,DEN,776232.0,NaN,"Live cricket scores, schedule, news, archive, ..."
19,Singapore,190.0,SIN,776275.0,NaN,"Live cricket scores, schedule, news, archive, ..."
20,Papua New Guinea,287.0,PNG,776304.0,NaN,"Live cricket scores, schedule, news, archive, ..."
21,Kuwait,298.0,KUW,776312.0,NaN,"Live cricket scores, schedule, news, archive, ..."
22,Vanuatu,300.0,VAN,776229.0,NaN,"Live cricket scores, schedule, news, archive, ..."
23,Jersey,303.0,JER,776300.0,NaN,"Live cricket scores, schedule, news, archive, ..."
24,Oman,304.0,OMAN,776328.0,NaN,"Live cricket scores, schedule, news, archive, ..."
25,Fiji,343.0,FIJI,776251.0,NaN,"Live cricket scores, schedule, news, archive, ..."
26,Italy,527.0,ITA,776295.0,NaN,"Live cricket scores, schedule, news, archive, ..."
27,Botswana,529.0,BW,776225.0,NaN,"Live cricket scores, schedule, news, archive, ..."
28,Belgium,541.0,BEL,776219.0,NaN,"Live cricket scores, schedule, news, archive, ..."
29,Uganda,44.0,UGA,776233.0,NaN,"Live cricket scores, schedule, news, archive, ..."
30,Canada,26.0,CAN,776227.0,NaN,"Live cricket scores, schedule, news, archive, ..."
31,United Arab Emirates,7.0,UAE,776242.0,NaN,"Live cricket scores, schedule, news, archive, ..."
32,"Hong Kong, China",8.0,HKC,776271.0,NaN,"Live cricket scores, schedule, news, archive, ..."
33,Kenya,14.0,KEN,776303.0,NaN,"Live cricket scores, schedule, news, archive, ..."
34,United States of America,15.0,USA,776186.0,United States of America,"Live cricket scores, schedule, news, archive, ..."
35,Scotland,23.0,SCO,776280.0,NaN,"Live cricket scores, schedule, news, archive, ..."
36,Netherlands,24.0,NED,776335.0,NaN,"Live cricket scores, schedule, news, archive, ..."
37,Bermuda,25.0,BER,776221.0,NaN,"Live cricket scores, schedule, news, archive, ..."
38,Iran,675.0,IRN,776282.0,NaN,"Live cricket scores, schedule, news, archive, ..."

In [46]:
teams['teamId']=teams['teamId'].astype('int')

In [47]:
teams

,teamName,teamId,teamSName,imageId,countryName,appIndex.seoTitle
1,India,2,IND,776162.0,India,"Live cricket scores, schedule, news, archive, ..."
2,Afghanistan,96,AFG,776177.0,NaN,"Live cricket scores, schedule, news, archive, ..."
3,Ireland,27,IRE,776285.0,NaN,"Live cricket scores, schedule, news, archive, ..."
4,Pakistan,3,PAK,776308.0,Pakistan,"Live cricket scores, schedule, news, archive, ..."
5,Australia,4,AUS,776202.0,Australia,"Live cricket scores, schedule, news, archive, ..."
6,Sri Lanka,5,SL,776254.0,Sri Lanka,"Live cricket scores, schedule, news, archive, ..."
7,Bangladesh,6,BAN,776210.0,NaN,"Live cricket scores, schedule, news, archive, ..."
8,England,9,ENG,776237.0,NaN,"Live cricket scores, schedule, news, archive, ..."
9,West Indies,10,WI,776191.0,NaN,"Live cricket scores, schedule, news, archive, ..."
10,South Africa,11,RSA,776287.0,NaN,"Live cricket scores, schedule, news, archive, ..."
11,Zimbabwe,12,ZIM,776198.0,Zimbabwe,"Live cricket scores, schedule, news, archive, ..."
12,New Zealand,13,NZ,776333.0,NaN,"Live cricket scores, schedule, news, archive, ..."
14,Malaysia,71,MLY,776319.0,NaN,"Live cricket scores, schedule, news, archive, ..."
15,Nepal,72,NEP,776331.0,NaN,"Live cricket scores, schedule, news, archive, ..."
16,Germany,77,GER,776260.0,NaN,"Live cricket scores, schedule, news, archive, ..."
17,Namibia,161,NAM,776326.0,NaN,"Live cricket scores, schedule, news, archive, ..."
18,Denmark,185,DEN,776232.0,NaN,"Live cricket scores, schedule, news, archive, ..."
19,Singapore,190,SIN,776275.0,NaN,"Live cricket scores, schedule, news, archive, ..."
20,Papua New Guinea,287,PNG,776304.0,NaN,"Live cricket scores, schedule, news, archive, ..."
21,Kuwait,298,KUW,776312.0,NaN,"Live cricket scores, schedule, news, archive, ..."
22,Vanuatu,300,VAN,776229.0,NaN,"Live cricket scores, schedule, news, archive, ..."
23,Jersey,303,JER,776300.0,NaN,"Live cricket scores, schedule, news, archive, ..."
24,Oman,304,OMAN,776328.0,NaN,"Live cricket scores, schedule, news, archive, ..."
25,Fiji,343,FIJI,776251.0,NaN,"Live cricket scores, schedule, news, archive, ..."
26,Italy,527,ITA,776295.0,NaN,"Live cricket scores, schedule, news, archive, ..."
27,Botswana,529,BW,776225.0,NaN,"Live cricket scores, schedule, news, archive, ..."
28,Belgium,541,BEL,776219.0,NaN,"Live cricket scores, schedule, news, archive, ..."
29,Uganda,44,UGA,776233.0,NaN,"Live cricket scores, schedule, news, archive, ..."
30,Canada,26,CAN,776227.0,NaN,"Live cricket scores, schedule, news, archive, ..."
31,United Arab Emirates,7,UAE,776242.0,NaN,"Live cricket scores, schedule, news, archive, ..."
32,"Hong Kong, China",8,HKC,776271.0,NaN,"Live cricket scores, schedule, news, archive, ..."
33,Kenya,14,KEN,776303.0,NaN,"Live cricket scores, schedule, news, archive, ..."
34,United States of America,15,USA,776186.0,United States of America,"Live cricket scores, schedule, news, archive, ..."
35,Scotland,23,SCO,776280.0,NaN,"Live cricket scores, schedule, news, archive, ..."
36,Netherlands,24,NED,776335.0,NaN,"Live cricket scores, schedule, news, archive, ..."
37,Bermuda,25,BER,776221.0,NaN,"Live cricket scores, schedule, news, archive, ..."
38,Iran,675,IRN,776282.0,NaN,"Live cricket scores, schedule, news, archive, ..."

In [48]:
url = "https://cricbuzz-cricket.p.rapidapi.com/teams/v1/2/players"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [49]:
response = requests.get(url, headers=headers)

In [51]:
response.status_code

200

In [53]:
data=response.json()
data

{'player': [{'name': 'BATSMEN', 'imageId': 174146},
  {'id': '11808',
   'name': 'Shubman Gill',
   'imageId': 616515,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '13940',
   'name': 'Yashasvi Jaiswal',
   'imageId': 591942,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '13866',
   'name': 'Sai Sudharsan',
   'imageId': 717782,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '576',
   'name': 'Rohit Sharma',
   'imageId': 616514,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '1413',
   'name': 'Virat Kohli',
   'imageId': 616517,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm medium'},
  {'id': '7915',
   'name': 'Suryakumar Yadav',
   'imageId': 352481,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '9428',
   'name': 'Shreyas Iyer',
   'imageId': 616518,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '10896',
   'name': 'Rinku Singh',
   'imageId': 279125,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '14504',
   'name': 'Tilak Varma',
   'imageId': 226525,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '11813',
   'name': 'Ruturaj Gaikwad',
   'imageId': 781069,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '10636',
   'name': 'Rajat Patidar',
   'imageId': 760758,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '9429',
   'name': 'Sarfaraz Khan',
   'imageId': 591955,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '9716',
   'name': 'Abhimanyu Easwaran',
   'imageId': 591956,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '8257',
   'name': 'Karun Nair',
   'imageId': 717781,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'name': 'ALL ROUNDER', 'imageId': 174146},
  {'id': '14701',
   'name': 'Nitish Kumar Reddy',
   'imageId': 591947,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '9647',
   'name': 'Hardik Pandya',
   'imageId': 616519,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '11195',
   'name': 'Shivam Dube',
   'imageId': 593805,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm medium'},
  {'id': '12086',
   'name': 'Abhishek Sharma',
   'imageId': 153963,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm orthodox'},
  {'id': '587',
   'name': 'Ravindra Jadeja',
   'imageId': 616520,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm orthodox'},
  {'id': '8683',
   'name': 'Shardul Thakur',
   'imageId': 352487,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '10945',
   'name': 'Washington Sundar',
   'imageId': 616522,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '8808',
   'name': 'Axar Patel',
   'imageId': 616521,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm orthodox'},
  {'name': 'WICKET KEEPER', 'imageId': 174146},
  {'id': '10744',
   'name': 'Rishabh Pant',
   'imageId': 616524,
   'battingStyle': 'Left-hand bat'},
  {'id': '8733',
   'name': 'KL Rahul',
   'imageId': 616523,
   'battingStyle': 'Right-hand bat'},
  {'id': '14691',
   'name': 'Dhruv Jurel',
   'imageId': 591954,
   'battingStyle': 'Right-hand bat'},
  {'id': '8271',
   'name': 'Sanju Samson',
   'imageId': 226289,
   'battingStyle': 'Right-hand bat'},
  {'id': '10276',
   'name': 'Ishan Kishan',
   'imageId': 352492,
   'battingStyle': 'Left-hand bat'},
  {'name': 'BOWLER', 'imageId': 174146},
  {'id': '10808',
   'name': 'Mohammed Siraj',
   'imageId': 591952,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '9311',
   'name': 'Jasprit Bumrah',
   'imageId': 591949,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '10551',
   'name': 'Prasidh Krishna',
   'imageId': 591958,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '14726',
   'name': 'Akash Deep',
   'imageId': 591951,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '8292',
   'name': 'Kuldeep Yadav',
   'imageId': 616525,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm wrist-spin'},
  {'id': '13217',
   'name': 'Arshdeep Singh',
   'imageId': 616527,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm fast-medium'},
  {'id': '24729',
   'name': 'Harshit Rana',
   'imageId': 616529,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '14659',
   'name': 'Ravi Bishnoi',
   'imageId': 226280,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '10754',
   'name': 'Mukesh Kumar',
   'imageId': 333872,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '12926',
   'name': 'Varun Chakaravarthy',
   'imageId': 616528,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'}]}

In [54]:
Team_India_Players=pd.json_normalize(data,record_path=['player'])

In [56]:
Team_India_Players

                   name  imageId     id    battingStyle           bowlingStyle
0               BATSMEN   174146    NaN             NaN                    NaN
1          Shubman Gill   616515  11808  Right-hand bat     Right-arm offbreak
2      Yashasvi Jaiswal   591942  13940   Left-hand bat     Right-arm legbreak
3         Sai Sudharsan   717782  13866   Left-hand bat     Right-arm legbreak
4          Rohit Sharma   616514    576  Right-hand bat     Right-arm offbreak
5           Virat Kohli   616517   1413  Right-hand bat       Right-arm medium
6      Suryakumar Yadav   352481   7915  Right-hand bat     Right-arm offbreak
7          Shreyas Iyer   616518   9428  Right-hand bat     Right-arm legbreak
8           Rinku Singh   279125  10896   Left-hand bat     Right-arm offbreak
9           Tilak Varma   226525  14504   Left-hand bat     Right-arm offbreak
10      Ruturaj Gaikwad   781069  11813  Right-hand bat     Right-arm offbreak
11        Rajat Patidar   760758  10636  Right-hand bat     Right-arm offbreak
12        Sarfaraz Khan   591955   9429  Right-hand bat     Right-arm legbreak
13   Abhimanyu Easwaran   591956   9716  Right-hand bat     Right-arm legbreak
14           Karun Nair   717781   8257  Right-hand bat     Right-arm offbreak
15          ALL ROUNDER   174146    NaN             NaN                    NaN
16   Nitish Kumar Reddy   591947  14701  Right-hand bat  Right-arm fast-medium
17        Hardik Pandya   616519   9647  Right-hand bat  Right-arm fast-medium
18          Shivam Dube   593805  11195   Left-hand bat       Right-arm medium
19      Abhishek Sharma   153963  12086   Left-hand bat      Left-arm orthodox
20      Ravindra Jadeja   616520    587   Left-hand bat      Left-arm orthodox
21       Shardul Thakur   352487   8683  Right-hand bat  Right-arm fast-medium
22    Washington Sundar   616522  10945   Left-hand bat     Right-arm offbreak
23           Axar Patel   616521   8808   Left-hand bat      Left-arm orthodox
24        WICKET KEEPER   174146    NaN             NaN                    NaN
25         Rishabh Pant   616524  10744   Left-hand bat                    NaN
26             KL Rahul   616523   8733  Right-hand bat                    NaN
27          Dhruv Jurel   591954  14691  Right-hand bat                    NaN
28         Sanju Samson   226289   8271  Right-hand bat                    NaN
29         Ishan Kishan   352492  10276   Left-hand bat                    NaN
30               BOWLER   174146    NaN             NaN                    NaN
31       Mohammed Siraj   591952  10808  Right-hand bat         Right-arm fast
32       Jasprit Bumrah   591949   9311  Right-hand bat         Right-arm fast
33      Prasidh Krishna   591958  10551  Right-hand bat         Right-arm fast
34           Akash Deep   591951  14726  Right-hand bat  Right-arm fast-medium
35        Kuldeep Yadav   616525   8292   Left-hand bat    Left-arm wrist-spin
36       Arshdeep Singh   616527  13217   Left-hand bat   Left-arm fast-medium
37         Harshit Rana   616529  24729  Right-hand bat  Right-arm fast-medium
38         Ravi Bishnoi   226280  14659  Right-hand bat     Right-arm legbreak
39         Mukesh Kumar   333872  10754  Right-hand bat  Right-arm fast-medium
40  Varun Chakaravarthy   616528  12926  Right-hand bat     Right-arm legbreak

In [57]:
url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/1413/career"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [58]:
response=requests.get(url,headers=headers)

In [59]:
response.status_code

200

In [60]:
data=response.json()
data

{'values': [{'name': 't20',
   'debut': 'vs Zimbabwe,  2010-06-12, Harare Sports Club',
   'lastPlayed': 'vs South Africa,  2024-06-29, Kensington Oval',
   'debutMatchID': '2300',
   'lastPlayedMatchId': '87878'},
  {'name': 'test',
   'debut': 'vs West Indies,  2011-06-20, Sabina Park',
   'lastPlayed': 'vs Australia,  2025-01-03, Sydney Cricket Ground',
   'debutMatchID': '9853',
   'lastPlayedMatchId': '91814'},
  {'name': 'odi',
   'debut': 'vs Sri Lanka,  2008-08-18, Rangiri Dambulla International Stadium',
   'lastPlayed': 'vs South Africa,  2025-12-06, ACA-VDCA Cricket Stadium',
   'debutMatchID': '3577',
   'lastPlayedMatchId': '117404'},
  {'name': 'ipl',
   'debut': 'vs Kolkata Knight Riders,  2008-04-18, M.Chinnaswamy Stadium',
   'lastPlayed': 'vs Punjab Kings,  2025-06-03, Narendra Modi Stadium',
   'debutMatchID': '10557',
   'lastPlayedMatchId': '118928'},
  {'name': 'cl',
   'debut': 'vs Cape Cobras,  2009-10-08, M.Chinnaswamy Stadium',
   'lastPlayed': 'vs Mumbai Indians,  2011-10-09, MA Chidambaram Stadium',
   'debutMatchID': '11018',
   'lastPlayedMatchId': '10784'}],
 'appIndex': {'seoTitle': 'Virat Kohli Profile - Cricbuzz | Cricbuzz.com',
  'webURL': 'http://www.cricbuzz.com/profiles/1413/virat-kohli'}}

In [61]:
Virat_Kohli_Carrier_info=pd.json_normalize(data,record_path=['values'],meta=[['appIndex','seoTitle']])

In [62]:
Virat_Kohli_Carrier_info

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.seoTitle
0,t20,"vs Zimbabwe, 2010-06-12, Harare Sports Club","vs South Africa, 2024-06-29, Kensington Oval",2300,87878,Virat Kohli Profile - Cricbuzz | Cricbuzz.com
1,test,"vs West Indies, 2011-06-20, Sabina Park","vs Australia, 2025-01-03, Sydney Cricket Ground",9853,91814,Virat Kohli Profile - Cricbuzz | Cricbuzz.com
2,odi,"vs Sri Lanka, 2008-08-18, Rangiri Dambulla In...","vs South Africa, 2025-12-06, ACA-VDCA Cricket...",3577,117404,Virat Kohli Profile - Cricbuzz | Cricbuzz.com
3,ipl,"vs Kolkata Knight Riders, 2008-04-18, M.Chinn...","vs Punjab Kings, 2025-06-03, Narendra Modi St...",10557,118928,Virat Kohli Profile - Cricbuzz | Cricbuzz.com
4,cl,"vs Cape Cobras, 2009-10-08, M.Chinnaswamy Sta...","vs Mumbai Indians, 2011-10-09, MA Chidambaram...",11018,10784,Virat Kohli Profile - Cricbuzz | Cricbuzz.com

In [63]:
Virat_Kohli_Carrier_info['appIndex.seoTitle']=Virat_Kohli_Carrier_info['appIndex.seoTitle'].apply(lambda x:x.split()[0]+x.split()[1])

In [64]:
Virat_Kohli_Carrier_info

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.seoTitle
0,t20,"vs Zimbabwe, 2010-06-12, Harare Sports Club","vs South Africa, 2024-06-29, Kensington Oval",2300,87878,ViratKohli
1,test,"vs West Indies, 2011-06-20, Sabina Park","vs Australia, 2025-01-03, Sydney Cricket Ground",9853,91814,ViratKohli
2,odi,"vs Sri Lanka, 2008-08-18, Rangiri Dambulla In...","vs South Africa, 2025-12-06, ACA-VDCA Cricket...",3577,117404,ViratKohli
3,ipl,"vs Kolkata Knight Riders, 2008-04-18, M.Chinn...","vs Punjab Kings, 2025-06-03, Narendra Modi St...",10557,118928,ViratKohli
4,cl,"vs Cape Cobras, 2009-10-08, M.Chinnaswamy Sta...","vs Mumbai Indians, 2011-10-09, MA Chidambaram...",11018,10784,ViratKohli

In [ ]:
Virat_Kohli_Carrier_info.to_csv('Virat_Kohli_car')

In [3]:
url = "https://cricbuzz-cricket.p.rapidapi.com/teams/v1/11/players"
headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [4]:
response=requests.get(url,headers=headers)

In [5]:
response.status_code

200

In [8]:
data=response.json()
data

{'player': [{'name': 'BATSMEN', 'imageId': 174146},
  {'id': '6349',
   'name': 'David Miller',
   'imageId': 619861,
   'battingStyle': 'Left-hand bat'},
  {'id': '9582',
   'name': 'Aiden Markram',
   'imageId': 619858,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '9554',
   'name': 'Rassie van der Dussen',
   'imageId': 619859,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '8583',
   'name': 'Temba Bavuma',
   'imageId': 619857,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm medium'},
  {'id': '11196',
   'name': 'Tony de Zorzi',
   'imageId': 619860,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '9491',
   'name': 'Reeza Hendricks',
   'imageId': 594193,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '20538',
   'name': 'Dewald Brevis',
   'imageId': 594284,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'id': '10973',
   'name': 'Zubayr Hamza',
   'imageId': 174146,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm legbreak'},
  {'name': 'ALL ROUNDER', 'imageId': 174146},
  {'id': '11432',
   'name': 'Senuran Muthusamy',
   'imageId': 735980,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm orthodox'},
  {'id': '18142',
   'name': 'Lesego Senokwane',
   'imageId': 174146,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '14565',
   'name': 'Marco Jansen',
   'imageId': 619862,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Left-arm fast'},
  {'id': '11200',
   'name': 'Wiaan Mulder',
   'imageId': 619863,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm medium'},
  {'id': '9576',
   'name': 'Corbin Bosch',
   'imageId': 619864,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'},
  {'id': '8530',
   'name': 'Prenelan Subrayen',
   'imageId': 157817,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '24546',
   'name': 'Codi Yusuf',
   'imageId': 174146,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm medium'},
  {'name': 'WICKET KEEPER', 'imageId': 174146},
  {'id': '14265',
   'name': 'David Bedingham',
   'imageId': 537808,
   'battingStyle': 'Right-hand bat'},
  {'id': '13070',
   'name': 'Ryan Rickelton',
   'imageId': 619865,
   'battingStyle': 'Left-hand bat'},
  {'id': '19243',
   'name': 'Tristan Stubbs',
   'imageId': 619868,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '11209',
   'name': 'Kyle Verreynne',
   'imageId': 537832,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm offbreak'},
  {'id': '50545',
   'name': 'Lhuan-dre Pretorius',
   'imageId': 735979,
   'battingStyle': 'Left-hand bat'},
  {'id': '13089',
   'name': 'Matthew Breetzke',
   'imageId': 597838,
   'battingStyle': 'Right-hand bat'},
  {'name': 'BOWLER', 'imageId': 174146},
  {'id': '9585',
   'name': 'Kagiso Rabada',
   'imageId': 619869,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '9603',
   'name': 'Lungi Ngidi',
   'imageId': 619872,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '13630',
   'name': 'Nandre Burger',
   'imageId': 616020,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm fast-medium'},
  {'id': '13320',
   'name': 'Gerald Coetzee',
   'imageId': 597795,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Right-arm fast'},
  {'id': '9720',
   'name': 'Keshav Maharaj',
   'imageId': 619870,
   'battingStyle': 'Right-hand bat',
   'bowlingStyle': 'Left-arm orthodox'},
  {'id': '23346',
   'name': 'Kwena Maphaka',
   'imageId': 597106,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Left-arm fast-medium'},
  {'id': '8531',
   'name': 'Lizaad Williams',
   'imageId': 594209,
   'battingStyle': 'Left-hand bat',
   'bowlingStyle': 'Right-arm fast-medium'}]}

In [9]:
southAfrica_Players_list=pd.json_normalize(data,record_path=['player'])

In [10]:
southAfrica_Players_list

,name,imageId,id,battingStyle,bowlingStyle
0,BATSMEN,174146,NaN,NaN,NaN
1,David Miller,619861,6349,Left-hand bat,NaN
2,Aiden Markram,619858,9582,Right-hand bat,Right-arm offbreak
3,Rassie van der Dussen,619859,9554,Right-hand bat,Right-arm legbreak
4,Temba Bavuma,619857,8583,Right-hand bat,Right-arm medium
5,Tony de Zorzi,619860,11196,Left-hand bat,Right-arm offbreak
6,Reeza Hendricks,594193,9491,Right-hand bat,Right-arm offbreak
7,Dewald Brevis,594284,20538,Right-hand bat,Right-arm legbreak
8,Zubayr Hamza,174146,10973,Right-hand bat,Right-arm legbreak
9,ALL ROUNDER,174146,NaN,NaN,NaN
10,Senuran Muthusamy,735980,11432,Left-hand bat,Left-arm orthodox
11,Lesego Senokwane,174146,18142,Right-hand bat,Right-arm offbreak
12,Marco Jansen,619862,14565,Right-hand bat,Left-arm fast
13,Wiaan Mulder,619863,11200,Right-hand bat,Right-arm medium
14,Corbin Bosch,619864,9576,Right-hand bat,Right-arm fast-medium
15,Prenelan Subrayen,157817,8530,Right-hand bat,Right-arm offbreak
16,Codi Yusuf,174146,24546,Right-hand bat,Right-arm medium
17,WICKET KEEPER,174146,NaN,NaN,NaN
18,David Bedingham,537808,14265,Right-hand bat,NaN
19,Ryan Rickelton,619865,13070,Left-hand bat,NaN
20,Tristan Stubbs,619868,19243,Right-hand bat,Right-arm offbreak
21,Kyle Verreynne,537832,11209,Right-hand bat,Right-arm offbreak
22,Lhuan-dre Pretorius,735979,50545,Left-hand bat,NaN
23,Matthew Breetzke,597838,13089,Right-hand bat,NaN
24,BOWLER,174146,NaN,NaN,NaN
25,Kagiso Rabada,619869,9585,Left-hand bat,Right-arm fast
26,Lungi Ngidi,619872,9603,Right-hand bat,Right-arm fast
27,Nandre Burger,616020,13630,Left-hand bat,Left-arm fast-medium
28,Gerald Coetzee,597795,13320,Right-hand bat,Right-arm fast
29,Keshav Maharaj,619870,9720,Right-hand bat,Left-arm orthodox
30,Kwena Maphaka,597106,23346,Left-hand bat,Left-arm fast-medium
31,Lizaad Williams,594209,8531,Left-hand bat,Right-arm fast-medium

In [22]:
url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/20538/career"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [14]:
response=requests.get(url,headers=headers)

In [15]:
response.status_code

200

In [16]:
data=response.json()
data

{'values': [{'name': 't20',
   'debut': 'vs Australia,  2023-08-30, Kingsmead',
   'lastPlayed': 'vs India,  2025-12-19, Narendra Modi Stadium',
   'debutMatchID': '69855',
   'lastPlayedMatchId': '117440'},
  {'name': 'test',
   'debut': 'vs Zimbabwe,  2025-06-28, Queens Sports Club',
   'lastPlayed': 'vs Pakistan,  2025-10-20, Rawalpindi Cricket Stadium',
   'debutMatchID': '116831',
   'lastPlayedMatchId': '134359'},
  {'name': 'odi',
   'debut': "vs Australia,  2025-08-19, Cazaly's Stadium",
   'lastPlayed': 'vs India,  2025-12-06, ACA-VDCA Cricket Stadium',
   'debutMatchID': '117008',
   'lastPlayedMatchId': '117404'},
  {'name': 'ipl',
   'debut': 'vs Kolkata Knight Riders,  2022-04-06, Maharashtra Cricket Association Stadium',
   'lastPlayed': 'vs Gujarat Titans,  2025-05-25, Narendra Modi Stadium',
   'debutMatchID': '45951',
   'lastPlayedMatchId': '118880'},
  {'name': 'cl', 'debut': 'Not played', 'lastPlayed': 'Not played'}],
 'appIndex': {'seoTitle': 'Dewald Brevis Profile - Cricbuzz | Cricbuzz.com',
  'webURL': 'http://www.cricbuzz.com/profiles/20538/dewald-brevis'}}

In [18]:
Brevis_Carrer_info=pd.json_normalize(data,record_path=['values'],meta=[['appIndex','seoTitle']])

In [20]:
Brevis_Carrer_info['appIndex.seoTitle']=Brevis_Carrer_info['appIndex.seoTitle'].apply(lambda x:x.split()[0]+x.split()[1])

In [21]:
Brevis_Carrer_info

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.seoTitle
0,t20,"vs Australia, 2023-08-30, Kingsmead","vs India, 2025-12-19, Narendra Modi Stadium",69855,117440,DewaldBrevis
1,test,"vs Zimbabwe, 2025-06-28, Queens Sports Club","vs Pakistan, 2025-10-20, Rawalpindi Cricket S...",116831,134359,DewaldBrevis
2,odi,"vs Australia, 2025-08-19, Cazaly's Stadium","vs India, 2025-12-06, ACA-VDCA Cricket Stadium",117008,117404,DewaldBrevis
3,ipl,"vs Kolkata Knight Riders, 2022-04-06, Maharas...","vs Gujarat Titans, 2025-05-25, Narendra Modi ...",45951,118880,DewaldBrevis
4,cl,Not played,Not played,NaN,NaN,DewaldBrevis

In [27]:
url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/9582/career"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [28]:
response=requests.get(url,headers=headers)

In [29]:
response.status_code

200

In [30]:
data=response.json()
data

{'values': [{'name': 't20',
   'debut': 'vs Sri Lanka,  2019-03-22, SuperSport Park',
   'lastPlayed': 'vs India,  2025-12-19, Narendra Modi Stadium',
   'debutMatchID': '20214',
   'lastPlayedMatchId': '117440'},
  {'name': 'test',
   'debut': 'vs Bangladesh,  2017-09-28, Senwes Park',
   'lastPlayed': 'vs India,  2025-11-22, Barsapara Cricket Stadium',
   'debutMatchID': '17835',
   'lastPlayedMatchId': '117380'},
  {'name': 'odi',
   'debut': 'vs Bangladesh,  2017-10-22, Buffalo Park',
   'lastPlayed': 'vs India,  2025-12-06, ACA-VDCA Cricket Stadium',
   'debutMatchID': '17839',
   'lastPlayedMatchId': '117404'},
  {'name': 'ipl',
   'debut': 'vs Rajasthan Royals,  2021-09-21, Dubai International Cricket Stadium',
   'lastPlayed': 'vs Gujarat Titans,  2025-05-22, Narendra Modi Stadium',
   'debutMatchID': '37562',
   'lastPlayedMatchId': '118862'},
  {'name': 'cl', 'debut': 'Not played', 'lastPlayed': 'Not played'}],
 'appIndex': {'seoTitle': 'Aiden Markram Profile - Cricbuzz | Cricbuzz.com',
  'webURL': 'http://www.cricbuzz.com/profiles/9582/aiden-markram'}}

In [31]:
Markaram_Carrer_info=pd.json_normalize(data,record_path=['values'],meta=[['appIndex','seoTitle']])

In [32]:
Markaram_Carrer_info

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.seoTitle
0,t20,"vs Sri Lanka, 2019-03-22, SuperSport Park","vs India, 2025-12-19, Narendra Modi Stadium",20214,117440,Aiden Markram Profile - Cricbuzz | Cricbuzz.com
1,test,"vs Bangladesh, 2017-09-28, Senwes Park","vs India, 2025-11-22, Barsapara Cricket Stadium",17835,117380,Aiden Markram Profile - Cricbuzz | Cricbuzz.com
2,odi,"vs Bangladesh, 2017-10-22, Buffalo Park","vs India, 2025-12-06, ACA-VDCA Cricket Stadium",17839,117404,Aiden Markram Profile - Cricbuzz | Cricbuzz.com
3,ipl,"vs Rajasthan Royals, 2021-09-21, Dubai Intern...","vs Gujarat Titans, 2025-05-22, Narendra Modi ...",37562,118862,Aiden Markram Profile - Cricbuzz | Cricbuzz.com
4,cl,Not played,Not played,NaN,NaN,Aiden Markram Profile - Cricbuzz | Cricbuzz.com

In [33]:
url = "https://cricbuzz-cricket.p.rapidapi.com/stats/v1/player/13070/career"

headers = {
	"x-rapidapi-key": "c1cd049681msh9f839f090226faap1aaefbjsn2b6bae296cd0",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

In [34]:
response=requests.get(url,headers=headers)

In [35]:
response.status_code

200

In [36]:
data=response.json()

In [37]:
data

{'values': [{'name': 't20',
   'debut': 'vs West Indies,  2024-05-23, Sabina Park',
   'lastPlayed': 'vs England,  2025-09-14, Trent Bridge',
   'debutMatchID': '95074',
   'lastPlayedMatchId': '105812'},
  {'name': 'test',
   'debut': 'vs Bangladesh,  2022-03-31, Kingsmead',
   'lastPlayed': 'vs India,  2025-11-22, Barsapara Cricket Stadium',
   'debutMatchID': '38442',
   'lastPlayedMatchId': '117380'},
  {'name': 'odi',
   'debut': 'vs West Indies,  2023-03-18, Buffalo Park',
   'lastPlayed': 'vs India,  2025-12-06, ACA-VDCA Cricket Stadium',
   'debutMatchID': '56206',
   'lastPlayedMatchId': '117404'},
  {'name': 'ipl',
   'debut': 'vs Chennai Super Kings,  2025-03-23, MA Chidambaram Stadium',
   'lastPlayed': 'vs Punjab Kings,  2025-05-26, Sawai Mansingh Stadium',
   'debutMatchID': '114976',
   'lastPlayedMatchId': '118892'},
  {'name': 'cl', 'debut': 'Not played', 'lastPlayed': 'Not played'}],
 'appIndex': {'seoTitle': 'Ryan Rickelton Profile - Cricbuzz | Cricbuzz.com',
  'webURL': 'http://www.cricbuzz.com/profiles/13070/ryan-rickelton'}}

In [38]:
Rickelton_carrer_info=pd.json_normalize(data,record_path=['values'],meta=[['appIndex','seoTitle']])

In [40]:
Rickelton_carrer_info['appIndex.seoTitle']=Rickelton_carrer_info['appIndex.seoTitle'].apply(lambda x: x.split()[0]+x.split()[1])

In [41]:
Rickelton_carrer_info

,name,debut,lastPlayed,debutMatchID,lastPlayedMatchId,appIndex.seoTitle
0,t20,"vs West Indies, 2024-05-23, Sabina Park","vs England, 2025-09-14, Trent Bridge",95074,105812,RyanRickelton
1,test,"vs Bangladesh, 2022-03-31, Kingsmead","vs India, 2025-11-22, Barsapara Cricket Stadium",38442,117380,RyanRickelton
2,odi,"vs West Indies, 2023-03-18, Buffalo Park","vs India, 2025-12-06, ACA-VDCA Cricket Stadium",56206,117404,RyanRickelton
3,ipl,"vs Chennai Super Kings, 2025-03-23, MA Chidam...","vs Punjab Kings, 2025-05-26, Sawai Mansingh S...",114976,118892,RyanRickelton
4,cl,Not played,Not played,NaN,NaN,RyanRickelton

# How to handle XML

In [5]:
books_data=pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\data.xml")

In [6]:
books_data

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,bk106,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,bk107,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,bk109,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,bk112,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

In [8]:
pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris.xml")

   sl  sw  pl  pw     label
0  23  25  33  35    Setosa
1  32  22  44  34  vergnica
2  35  55  23  15  versicol

In [15]:
pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris.xml")

,sl,sw,pl,pw,label,Name,Age,CountryName,State
0,23.0,25.0,33.0,35.0,Setosa,None,NaN,None,None
1,32.0,22.0,44.0,34.0,vergnica,None,NaN,None,None
2,35.0,55.0,23.0,15.0,versicol,None,NaN,None,None
3,NaN,NaN,NaN,NaN,None,Vamshidhar Reddy,22.0,None,None
4,NaN,NaN,NaN,NaN,None,Manikanta Reddy,20.0,None,None
5,NaN,NaN,NaN,NaN,None,Yella Reddy,50.0,None,None
6,NaN,NaN,NaN,NaN,None,None,NaN,India,Telagana
7,NaN,NaN,NaN,NaN,None,None,NaN,India,Telagana
8,NaN,NaN,NaN,NaN,None,None,NaN,India,Telagana

In [16]:
pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris.xml",xpath='flower')

   sl  sw  pl  pw     label
0  23  25  33  35    Setosa
1  32  22  44  34  vergnica
2  35  55  23  15  versicol

In [17]:
pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris.xml",xpath='Farmer')

               Name  Age
0  Vamshidhar Reddy   22
1   Manikanta Reddy   20
2       Yella Reddy   50

In [3]:
pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris.xml",xpath='Country')

  CountryName     State
0       India  Telagana
1       India  Telagana
2       India  Telagana

In [5]:
data=pd.read_xml(r"C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris1.xml")
data

     sl    sw     label
0  1.10  1.50    Setosa
1  1.12  1.57  Vergnica

In [10]:
data.to_xml(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris2.xml',attr_cols=['sl','label'],index=False)

In [11]:
data.to_xml(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\iris3.xml',elem_cols=['sl','label'],index=False)

# Handling HTML Files

In [3]:
dfs=pd.read_html(r'https://en.wikipedia.org/wiki/Indian_Premier_League', storage_options={
        "User-Agent": "Mozilla/5.0"
    })

In [4]:
len(dfs)

38

In [7]:
dfs

[                    0                                                  1
 0                 NaN                                                NaN
 1           Countries                                              India
 2       Administrator              Board of Control for Cricket in India
 3        Headquarters                                      Mumbai, India
 4              Format                                           Twenty20
 5       First edition                                               2008
 6      Latest edition                                               2025
 7        Next edition                                               2026
 8   Tournament format     Double round-robin format followed by playoffs
 9    Current champion            Royal Challengers Bengaluru (1st title)
 10    Most successful  Chennai Super Kings Mumbai Indians (5 titles e...
 11          Most runs                                Virat Kohli (8,661)
 12       Most wickets                             Yuzvendra Chahal (221)
 13                 TV                               List of broadcasters
 14            Website                                         iplt20.com,
                                              Seasons
 0  2008 2009 2010 2011 2012 2013 2014 2015 2016 2...,
     Season                      Winners
 0     2008             Rajasthan Royals
 1     2009              Deccan Chargers
 2     2010          Chennai Super Kings
 3     2011      Chennai Super Kings (2)
 4     2012        Kolkata Knight Riders
 5     2013               Mumbai Indians
 6     2014    Kolkata Knight Riders (2)
 7     2015           Mumbai Indians (2)
 8     2016          Sunrisers Hyderabad
 9     2017           Mumbai Indians (3)
 10    2018      Chennai Super Kings (3)
 11    2019           Mumbai Indians (4)
 12    2020           Mumbai Indians (5)
 13    2021      Chennai Super Kings (4)
 14    2022               Gujarat Titans
 15    2023      Chennai Super Kings (5)
 16    2024    Kolkata Knight Riders (3)
 17    2025  Royal Challengers Bengaluru,
                   IPL  (Men's)               WPL  (Women's)  \
 0          Chennai Super Kings                          NaN
 1               Delhi Capitals               Delhi Capitals
 2               Gujarat Titans                          NaN
 3        Kolkata Knight Riders                          NaN
 4         Lucknow Super Giants                          NaN
 5               Mumbai Indians               Mumbai Indians
 6                 Punjab Kings                          NaN
 7             Rajasthan Royals                          NaN
 8  Royal Challengers Bengaluru  Royal Challengers Bengaluru
 9          Sunrisers Hyderabad                          NaN

   The Hundred  (Men's & Women's) T20 Blast  (Men's & Women's)  \
 0                            NaN                          NaN
 1                 Southern Brave                    Hampshire
 2                            NaN                          NaN
 3                            NaN                          NaN
 4        Manchester Originals[b]                          NaN
 5                   MI London[b]                          NaN
 6                            NaN                          NaN
 7                            NaN                          NaN
 8                            NaN                          NaN
 9                Sunrisers Leeds                          NaN

              SA20 (Men's)           ILT20  (Men's)            CPL  (Men's)  \
 0      Joburg Super Kings                      NaN                     NaN
 1       Pretoria Capitals           Dubai Capitals                     NaN
 2                     NaN                      NaN                     NaN
 3                     NaN  Abu Dhabi Knight Riders  Trinbago Knight Riders
 4   Durban's Super Giants                      NaN                     NaN
 5            MI Cape Town              MI Emirates                     NaN
 6                     NaN                      NaN       Saint Lucia Kings
 7            Paarl Royals                      NaN         Barbados Royals
 8                     NaN                      NaN                     NaN
 9  Sunrisers Eastern Cape                      NaN                     NaN

                 MLC  (Men's)
 0          Texas Super Kings
 1           Seattle Orcas[b]
 2                        NaN
 3  Los Angeles Knight Riders
 4                        NaN
 5                MI New York
 6                        NaN
 7                        NaN
 8                        NaN
 9                        NaN  ,
    Team                       Team.1            City          State  \
 0   NaN          Chennai Super Kings         Chennai     Tamil Nadu
 1   NaN               Delhi Capitals       New Delhi          Delhi
 2   NaN               Gujarat Titans       Ahmedabad        Gujarat
 3   NaN        Kolkata Knight Riders         Kolkata    West Bengal
 4   NaN         Lucknow Super Giants         Lucknow  Uttar Pradesh
 5   NaN               Mumbai Indians          Mumbai    Maharashtra
 6   NaN                 Punjab Kings  New Chandigarh         Punjab
 7   NaN             Rajasthan Royals          Jaipur      Rajasthan
 8   NaN  Royal Challengers Bengaluru       Bengaluru      Karnataka
 9   NaN          Sunrisers Hyderabad       Hyderabad      Telangana

                          Home ground  Debut          Captain  \
 0          M. A. Chidambaram Stadium   2008  Ruturaj Gaikwad
 1               Arun Jaitley Stadium   2008       Axar Patel
 2              Narendra Modi Stadium   2022     Shubman Gill
 3                       Eden Gardens   2008   Ajinkya Rahane
 4                      Ekana Stadium   2022     Rishabh Pant
 5                   Wankhede Stadium   2008    Hardik Pandya
 6  Maharaja Yadavindra Singh Stadium   2008     Shreyas Iyer
 7             Sawai Mansingh Stadium   2008              TBD
 8             M. Chinnaswamy Stadium   2008    Rajat Patidar
 9               Rajiv Gandhi Stadium   2013      Pat Cummins

            Head coach                                           Owner(s)   Ref
 0     Stephen Fleming                Chennai Super Kings Cricket Limited   NaN
 1       Hemang Badani                    GMR Group (50%) JSW Group (50%)  [72]
 2        Ashish Nehra              Torrent Group (67%) CVC Capital (33%)  [73]
 3      Abhishek Nayar             Shah Rukh Khan (55%) Mehta Group (45%)  [73]
 4       Justin Langer                             RP-Sanjiv Goenka Group  [74]
 5  Mahela Jayawardene                                Reliance Industries  [75]
 6       Ricky Ponting  Mohit Burman (48%) Ness Wadia (23%) Preity Zin...  [76]
 7    Kumar Sangakkara  Manoj Badale (65%) RedBird (15%) Lachlan Murdo...  [77]
 8         Andy Flower                                     United Spirits  [78]
 9      Daniel Vettori                                     Sun TV Network  [79]  ,
    TeamTeam              TeamTeam.1       City               State  \
 0       NaN         Deccan Chargers  Hyderabad  Andhra Pradesh[80]
 1       NaN    Kochi Tuskers Kerala      Kochi              Kerala
 2       NaN     Pune Warriors India       Pune         Maharashtra
 3       NaN  Rising Pune Supergiant       Pune         Maharashtra
 4       NaN           Gujarat Lions     Rajkot             Gujarat

                 Home ground  Debut  Dissolved                 Owner(s)
 0      Rajiv Gandhi Stadium   2008       2012         Deccan Chronicle
 1  Jawaharlal Nehru Stadium   2011       2012  Rendezvous Sports World
 2               MCA Stadium   2011       2013     Sahara India Pariwar
 3               MCA Stadium   2016       2018   RP-Sanjiv Goenka Group
 4     Niranjan Shah Stadium   2016       2018       Intex Technologies  ,
     Year Auction Location              Player   Nationality  \
 0   2008           Mumbai            MS Dhoni         India
 1   2009              Goa     Kevin Pietersen       England
 2   2009              Goa     Andrew Flintoff       England
 3   2010        Bengaluru          Shane Bond   New Zealand
 4   2010        Bengaluru      Kieron Pollard   West Indies
 5   2011        Bengaluru      Gautam Gambhir         India
 6   2012          Chennai     Ravindra Jadeja         India
 7   2013          Chennai       Glenn Maxwell     Australia
 8   2014            Dubai        Yuvraj Singh         India
 9   2015        Bengaluru        Yuvraj Singh         India
 10  2016        Bengaluru        Shane Watson     Australia
 11  2017        Bengaluru          Ben Stokes       England
 12  2018        Bengaluru          Ben Stokes       England
 13  2019           Jaipur  Varun Chakravarthy         India
 14  2020          Kolkata         Pat Cummins     Australia
 15  2021          Chennai        Chris Morris  South Africa
 16  2022        Bengaluru        Ishan Kishan         India
 17  2023            Kochi          Sam Curran       England
 18  2024            Dubai      Mitchell Starc     Australia
 19  2025           Jeddah        Rishabh Pant         India
 20  2026        Abu Dhabi       Cameron Green     Australia

                            Team    Price INR        Ref.
 0           Chennai Super Kings    9.5 crore        [97]
 1   Royal Challengers Bangalore    9.8 crore        [98]
 2           Chennai Super Kings    9.8 crore        [98]
 3         Kolkata Knight Riders    4.8 crore        [99]
 4                Mumbai Indians    4.8 crore        [99]
 5         Kolkata Knight Riders   14.9 crore       [100]
 6           Chennai Super Kings   12.8 crore       [101]
 7                Mumbai Indians    6.3 crore       [102]
 8   Royal Challengers Bangalore     14 crore       [103]
 9              Delhi Daredevils     16 crore       [104]
 10  Royal Challengers Bangalore    9.5 crore       [105]
 11       Rising Pune Supergiant   14.5 crore       [106]
 12             Rajasthan Royals   12.5 crore       [107]
 13              Kings XI Punjab    8.4 crore  [108][109]
 14        Kolkata Knight Riders   15.5 crore       [110]
 15             Rajasthan Royals  16.25 crore         NaN
 16               Mumbai Indians  15.25 crore         NaN
 17                 Punjab Kings   18.5 crore         NaN
 18        Kolkata Knight Riders  24.75 crore         NaN
 19         Lucknow Super Giants     27 crore         NaN
 20        Kolkata Knight Riders  25.25 crore         NaN  ,
     Year                                         Final  \
     Year                                        Winner
 0   2008             Rajasthan Royals 164/7 (20 overs)
 1   2009              Deccan Chargers 143/6 (20 overs)
 2   2010          Chennai Super Kings 168/5 (20 overs)
 3   2011          Chennai Super Kings 205/5 (20 overs)
 4   2012      Kolkata Knight Riders 192/5 (19.4 overs)
 5   2013               Mumbai Indians 148/9 (20 overs)
 6   2014      Kolkata Knight Riders 200/7 (19.3 overs)
 7   2015               Mumbai Indians 202/5 (20 overs)
 8   2016          Sunrisers Hyderabad 208/7 (20 overs)
 9   2017               Mumbai Indians 129/8 (20 overs)
 10  2018        Chennai Super Kings 181/2 (18.3 overs)
 11  2019               Mumbai Indians 149/8 (20 overs)
 12  2020             Mumbai Indians 157/5 (18.4 overs)
 13  2021          Chennai Super Kings 192/3 (20 overs)
 14  2022             Gujarat Titans 133/3 (18.1 overs)
 15  2023          Chennai Super Kings 171/5 (15 overs)
 16  2024      Kolkata Knight Riders 114/2 (10.3 overs)
 17  2025  Royal Challengers Bengaluru 190/9 (20 overs)

                                           \
                                   Result
 0          RR won by 3 wickets Scorecard
 1             DC won by 6 runs Scorecard
 2           CSK won by 22 runs Scorecard
 3           CSK won by 58 runs Scorecard
 4         KKR won by 5 wickets Scorecard
 5            MI won by 23 runs Scorecard
 6         KKR won by 3 wickets Scorecard
 7            MI won by 41 runs Scorecard
 8            SRH won by 8 runs Scorecard
 9              MI won by 1 run Scorecard
 10        CSK won by 8 wickets Scorecard
 11             MI won by 1 run Scorecard
 12         MI won by 5 wickets Scorecard
 13          CSK won by 27 runs Scorecard
 14         GT won by 7 wickets Scorecard
 15  CSK won by 5 wickets (DLS) Scorecard
 16        KKR won by 8 wickets Scorecard
 17           RCB won by 6 runs Scorecard

                                                   \
                                       Runners up
 0           Chennai Super Kings 163/5 (20 overs)
 1   Royal Challengers Bangalore 137/9 (20 overs)
 2                Mumbai Indians 146/9 (20 overs)
 3   Royal Challengers Bangalore 147/8 (20 overs)
 4           Chennai Super Kings 190/3 (20 overs)
 5           Chennai Super Kings 125/9 (20 overs)
 6               Kings XI Punjab 199/4 (20 overs)
 7           Chennai Super Kings 161/8 (20 overs)
 8   Royal Challengers Bangalore 200/7 (20 overs)
 9        Rising Pune Supergiant 128/6 (20 overs)
 10          Sunrisers Hyderabad 178/6 (20 overs)
 11          Chennai Super Kings 148/7 (20 overs)
 12               Delhi Capitals 156/7 (20 overs)
 13        Kolkata Knight Riders 165/9 (20 overs)
 14             Rajasthan Royals 130/9 (20 overs)
 15               Gujarat Titans 214/4 (20 overs)
 16       Sunrisers Hyderabad 113/10 (18.3 overs)
 17                 Punjab Kings 184/7 (20 overs)

                                   Venue   Player of the Season
                                   Venue   Player of the Season
 0        DY Patil Stadium,  Navi Mumbai      Shane Watson (RR)
 1      Wanderers Stadium,  Johannesburg    Adam Gilchrist (DC)
 2        DY Patil Stadium,  Navi Mumbai  Sachin Tendulkar (MI)
 3   M. A. Chidambaram Stadium,  Chennai      Chris Gayle (RCB)
 4   M. A. Chidambaram Stadium,  Chennai     Sunil Narine (KKR)
 5                Eden Gardens,  Kolkata      Shane Watson (RR)
 6    M. Chinnaswamy Stadium,  Bengaluru   Glenn Maxwell (KXIP)
 7                Eden Gardens,  Kolkata    Andre Russell (KKR)
 8    M. Chinnaswamy Stadium,  Bengaluru      Virat Kohli (RCB)
 9      Rajiv Gandhi Stadium,  Hyderabad       Ben Stokes (RPS)
 10            Wankhede Stadium,  Mumbai     Sunil Narine (KKR)
 11     Rajiv Gandhi Stadium,  Hyderabad    Andre Russell (KKR)
 12   Dubai International Stadium, Dubai      Jofra Archer (RR)
 13  Dubai International Stadium,  Dubai    Harshal Patel (RCB)
 14    Narendra Modi Stadium,  Ahmedabad       Jos Buttler (RR)
 15    Narendra Modi Stadium,  Ahmedabad      Shubman Gill (GT)
 16  M. A. Chidambaram Stadium,  Chennai     Sunil Narine (KKR)
 17    Narendra Modi Stadium,  Ahmedabad  Suryakumar Yadav (MI)  ,
     Team                       Team.1                               Won  \
 0    NaN          Chennai Super Kings  5 (2010, 2011, 2018, 2021, 2023)
 1    NaN               Mumbai Indians  5 (2013, 2015, 2017, 2019, 2020)
 2    NaN        Kolkata Knight Riders              3 (2012, 2014, 2024)
 3    NaN  Royal Challengers Bengaluru                          1 (2025)
 4    NaN          Sunrisers Hyderabad                          1 (2016)
 5    NaN             Rajasthan Royals                          1 (2008)
 6    NaN               Gujarat Titans                          1 (2022)
 7    NaN            Deccan Chargers †                          1 (2009)
 8    NaN                 Punjab Kings                               NaN
 9    NaN               Delhi Capitals                               NaN
 10   NaN     Rising Pune Supergiant †                               NaN
 11   NaN         Lucknow Super Giants                               NaN
 12   NaN              Gujarat Lions †                               NaN
 13   NaN        Pune Warriors India †                               NaN
 14   NaN       Kochi Tuskers Kerala †                               NaN

                           Runners up Playoffs Played  Seasons Played
 0   5 (2008, 2012, 2013, 2015, 2019)              12              16
 1                           1 (2010)              11              18
 2                           1 (2021)               8              18
 3               3 (2009, 2011, 2016)              10              18
 4                     2 (2018, 2024)               7              13
 5                           1 (2022)               6              16
 6                           1 (2023)               3               4
 7                                NaN               2               5
 8                     2 (2014, 2025)               3              18
 9                           1 (2020)               6              18
 10                          1 (2017)               1               2
 11                               NaN               2               4
 12                               NaN               1               2
 13                               NaN               –               3
 14                               NaN               –               1  ,
              Team                       Team.1           2008           2009  \
 0             NaN          Chennai Super Kings             RU             SF
 1             NaN               Delhi Capitals             SF             SF
 2             NaN               Gujarat Titans              –              –
 3             NaN        Kolkata Knight Riders            6th            8th
 4             NaN         Lucknow Super Giants              –              –
 5             NaN               Mumbai Indians            5th            7th
 6             NaN                 Punjab Kings             SF            5th
 7             NaN             Rajasthan Royals              C            6th
 8             NaN  Royal Challengers Bengaluru            7th             RU
 9             NaN          Sunrisers Hyderabad              –              –
 10  Defunct Teams                Defunct Teams  Defunct Teams  Defunct Teams
 11            NaN              Deccan Chargers            8th              C
 12            NaN         Kochi Tuskers Kerala              –              –
 13            NaN          Pune Warriors India              –              –
 14            NaN                Gujarat Lions              –              –
 15            NaN       Rising Pune Supergiant              –              –

              2010           2011           2012           2013           2014  \
 0               C              C             RU             RU            3rd
 1             5th           10th            3rd            9th            8th
 2               –              –              –              –              –
 3             6th            4th              C            7th              C
 4               –              –              –              –              –
 5              RU            3rd            4th              C            4th
 6             8th            5th            6th            6th             RU
 7             7th            6th            7th            3rd            5th
 8             3rd             RU            5th            5th            7th
 9               –              –              –            4th            6th
 10  Defunct Teams  Defunct Teams  Defunct Teams  Defunct Teams  Defunct Teams
 11            4th            7th            8th              –              –
 12              –            8th              –              –              –
 13              –            9th            9th            8th              –
 14              –              –              –              –              –
 15              –              –              –              –              –

              2015           2016           2017           2018           2019  \
 0              RU      Suspended      Suspended              C             RU
 1             7th            6th            6th            8th            3rd
 2               –              –              –              –              –

In [6]:
dfs[0]

                    0                                                  1
0                 NaN                                                NaN
1           Countries                                              India
2       Administrator              Board of Control for Cricket in India
3        Headquarters                                      Mumbai, India
4              Format                                           Twenty20
5       First edition                                               2008
6      Latest edition                                               2025
7        Next edition                                               2026
8   Tournament format     Double round-robin format followed by playoffs
9    Current champion            Royal Challengers Bengaluru (1st title)
10    Most successful  Chennai Super Kings Mumbai Indians (5 titles e...
11          Most runs                                Virat Kohli (8,661)
12       Most wickets                             Yuzvendra Chahal (221)
13                 TV                               List of broadcasters
14            Website                                         iplt20.com

In [8]:
dfs[5]

,TeamTeam,TeamTeam.1,City,State,Home ground,Debut,Dissolved,Owner(s)
0,NaN,Deccan Chargers,Hyderabad,Andhra Pradesh[80],Rajiv Gandhi Stadium,2008,2012,Deccan Chronicle
1,NaN,Kochi Tuskers Kerala,Kochi,Kerala,Jawaharlal Nehru Stadium,2011,2012,Rendezvous Sports World
2,NaN,Pune Warriors India,Pune,Maharashtra,MCA Stadium,2011,2013,Sahara India Pariwar
3,NaN,Rising Pune Supergiant,Pune,Maharashtra,MCA Stadium,2016,2018,RP-Sanjiv Goenka Group
4,NaN,Gujarat Lions,Rajkot,Gujarat,Niranjan Shah Stadium,2016,2018,Intex Technologies

In [9]:
dfs=pd.read_html(r'https://en.wikipedia.org/wiki/Indian_Premier_League', storage_options={
        "User-Agent": "Mozilla/5.0"
    },match='Texas Super Kings')

In [10]:
len(dfs)

1

In [12]:
dfs[0]

,IPL (Men's),WPL (Women's),The Hundred (Men's & Women's),T20 Blast (Men's & Women's),SA20 (Men's),ILT20 (Men's),CPL (Men's),MLC (Men's)
0,Chennai Super Kings,NaN,NaN,NaN,Joburg Super Kings,NaN,NaN,Texas Super Kings
1,Delhi Capitals,Delhi Capitals,Southern Brave,Hampshire,Pretoria Capitals,Dubai Capitals,NaN,Seattle Orcas[b]
2,Gujarat Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kolkata Knight Riders,NaN,NaN,NaN,NaN,Abu Dhabi Knight Riders,Trinbago Knight Riders,Los Angeles Knight Riders
4,Lucknow Super Giants,NaN,Manchester Originals[b],NaN,Durban's Super Giants,NaN,NaN,NaN
5,Mumbai Indians,Mumbai Indians,MI London[b],NaN,MI Cape Town,MI Emirates,NaN,MI New York
6,Punjab Kings,NaN,NaN,NaN,NaN,NaN,Saint Lucia Kings,NaN
7,Rajasthan Royals,NaN,NaN,NaN,Paarl Royals,NaN,Barbados Royals,NaN
8,Royal Challengers Bengaluru,Royal Challengers Bengaluru,NaN,NaN,NaN,NaN,NaN,NaN
9,Sunrisers Hyderabad,NaN,Sunrisers Leeds,NaN,Sunrisers Eastern Cape,NaN,NaN,NaN

In [14]:
dfs[0].to_html(r'C:\Users\masir\Downloads\Machine Learning\Handling_different_formats\cricket.html')